<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SafeWalk Routes</title>
    <meta name="description" content="">

    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css" /><![endif]-->
    <!-- <link rel="stylesheet" href="css/main.css?foo=17733"> -->
    <link rel="stylesheet" href="../static/css/main.css">

    <style>
      /*#mapid {
      height: 95%;
      float: left;
      width: 55%;
      }
      #coords_forms{
        float: center;
      }*/
    </style>
    <!-- HTML5 for oldIE -->
    <!--[if lt IE 9]>
        <script>
            document.createElement('header'); document.createElement('nav'); document.createElement('section'); document.createElement('article');
            document.createElement('aside'); document.createElement('footer'); document.createElement('hgroup');
        </script>
        <style>
            header,nav,section,article,aside,footer,hgroup { display: block; }
        </style>
    <![endif]-->
  </head>

  <body>

    <!-- <div class = "container">
      <form  action="/min_dist" method="GET">
        <div>
          <button type="submit" class="btn btn-default btn-lg">Minimize Distance</button>
        </div>
      </form>
    </div>

    <div class = "container">
      <form  action="/min_crime" method="GET">
        <div>
          <button type="submit" class="btn btn-default btn-lg">Minimize Crime</button>
        </div>
      </form>
    </div> -->

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand hide" href="./index.html">Web Map Template</a>
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="./index"><i class="icon-home icon-white"></i> Home</a></li>
                        <li><a href="https://github.com/NahsiN">Github</a></li>
                        <li><a href="https://www.linkedin.com/in/nishanmann">LinkedIn</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <!-- Subhead ================================================== -->
    <header class="jumbotron subhead">
        <!--[if lt IE 8]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
      <div class="container">
        <h1>WalkSafe <span class="text-info">Find the safest walking route for any time of day</span></h1>
        <h2 class="lead">Compare routes</h2>
      </div>
    </header>

    <!-- Distance for two routes. Dataframe and safety ratings -->
    <h3 align="center"> Shortest (Red): {{shortest_dist}}m, Safety Rating = {{safety_rating_dist}} </h3>
    <h3 align="center"> Safest (Green): {{min_crime_dist}}m, Safety Rating = {{safety_rating_crime}}  </h3 >
    <div class="container">
      <!-- <iframe class="span8 pull-right" width=600px height=600px src="/home/nishan/Code/InsightDataScience/my_projects_env/crime/crime_app/templates/routes.html"> -->
    <!-- width=1280px    -->
    <!-- <iframe class="span12" height=480px  src="http://localhost/routes.html"> -->
    <iframe class="span12" height=480px  src={{routes_page_loc}}>
    </iframe>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
