<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SafeWalk</title>
        <meta name="description" content="">

        <!-- Mobile viewport optimized: j.mp/bplateviewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="favicon.png" />
        <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png"/>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css" /><![endif]-->
        <!-- <link rel="stylesheet" href="css/main.css?foo=17733"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="../static/js/button_labels.js"></script>

        <link rel="stylesheet" href="../static/css/main.css">
        <style>
          /*#mapid {
          height: 95%;
          float: left;
          width: 55%;
          }
          #coords_forms{
            float: center;
          }*/
          #start_lat_point{width: 90px;}
          #start_lon_point{width: 90px;}
          #end_lat_point{width: 90px;}
          #end_lon_point{width: 90px;}
          #hour_of_day{width: 60px;}
          #crime_type{width:180px;}
          #personal_bias{width:50px;}
        </style>



        <!-- HTML5 for oldIE -->
        <!--[if lt IE 9]>
            <script>
                document.createElement('header'); document.createElement('nav'); document.createElement('section'); document.createElement('article');
                document.createElement('aside'); document.createElement('footer'); document.createElement('hgroup');
            </script>
            <style>
                header,nav,section,article,aside,footer,hgroup { display: block; }
            </style>
        <![endif]-->
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand hide" href="./index.html">Web Map Template</a>
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="./index"><i class="icon-home icon-white"></i> Home</a></li>
                            <li><a href="https://github.com/NahsiN">Github</a></li>
                            <li><a href="https://www.linkedin.com/in/nishanmann">LinkedIn</a></li>
                        </ul>
                        <div class="navbar-form pull-right" >
                            <label for="searchbox" class="hide">Search</label>
                            <input id="searchbox" class="span4" type="text" placeholder="Search" rel="popover" data-content="<ul><li><strong>Address</strong>: Enter the beginning of an address. Ex: for 700 North Tryon Street, try <em>700 n</em></li><li><strong>NPA</strong>: Enter the NPA number. Ex: <em>45</em></li><li><strong>Location</strong>: Enter the name of a location or a street. Ex: <em>freedom</em></li></ul>" data-original-title="Search" data-placement="bottom" data-html="true" data-trigger="focus">
                            <button class="btn btn-inverse searchbtn" type="button">Go!</button>
                        </div>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <!-- Subhead ================================================== -->
        <header class="jumbotron subhead">
            <!--[if lt IE 8]>
                <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
            <![endif]-->
          <div class="container">
            <h1>SafeWalk <span class="text-info">Find your safest route for any time of day</span></h1>
            <h2 class="lead">Project for Insight Data Science Fellowship Fall 2016</h2>
          </div>
        </header>

        <div class="container">
            <div class="row main-row">
                <div class="span12">
                    <div class="row">
                        <div id="data" class="span6 pull-left">
                            <div class="overview">
                                <h3>Instructions (Video below)</h3>
                                  Browse the map on your right. Clicking on the map for the first
                                  time will generate a marker and fill in the starting latitude and
                                  latitude below. Clicking on the map a second time will populate the
                                  ending latitude and longitude fields. Clicking again will repeat this cycle. Once you are happy with the
                                  destinations coordinates, select the time of day, crime avoidance level and fear of crime and then click on Route Me!

                                <br> <br>
                                <form action="/output" method="GET">
                                  Start Latitude:
                                  <input type="text" id="start_lat_point" name='start_lat_point' value="40.687179">
                                  Start Longitude:
                                  <input type="text" id="start_lon_point" name='start_lon_point' value="-73.947494">
                                  <br> <br>
                                  End Latitude:
                                  <input type="text" id="end_lat_point" name='end_lat_point' value="40.681159">
                                  End Longitude:
                                  <input type="text" id="end_lon_point" name='end_lon_point' value="-73.928783">
                                  <br>
                                <!-- </form> -->
                                  <br>
                                <!-- <form name="hour_of_day"> -->
                                  Hour of Day:
                                  <select name="hour_of_day" id="hour_of_day">
                                    <option value="0">00</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="-1">-1</option>
                                  </select>

                                  <!-- Crime Type:
                                  <select name="crime_type" id="crime_type">
                                    <option value="0">All</option>
                                    <option value="1">All + Direct Bodily Harm</option>
                                    <option value="2">All + Indirect Bodily Harm</option>
                                    <option value="3">All + Indirect Bodily Harm + Direct</option>
                                  </select> -->
                                  <br>
                                  <!-- 0: all crime, 1: direct bodily harm -->
                                  <a href="javascript:void(0)" rel="tooltip" data-placement="bottom" data-original-title="Neutral: avoid all crimes. Vigilant: avoid all crimes especially the ones causing bodily harm such as murder, assault etc.">Crime Avoidance Level</a>
                                  <!-- Crime Avoidance Level: -->
                                  <label>
                                  <input type="radio" name="crime_type" id="all_crime" value=0 checked>
                                  Neutral
                                  </label>
                                  <label>
                                  <input type="radio" name="crime_type" id="direct_bodily_harm" value=1>
                                  Vigilant</label>

                                  <br>
                                  <a href="javascript:void(0)" rel="tooltip" data-placement="bottom" data-original-title="Adjust slider below.">Personal Fear of Crime</a>
                                  <!-- <input type="text" id="personal_bias" name="personal_bias" value="1"> -->
                                  <br>
                                  <label id="rangeText" for="rangeInput"></label>
                                  <input type="range" id="rangeInput" name="rangeInput" value="1" step="1" min="1" max="5">

                                  <!-- <input type="range" name="points" min="0" max="10"> -->
                                  <br> <br>
                                  <button type="submit" class="btn btn-primary btn-medium">Route Me</button>
                                  <!-- <input type="submit"> -->
                                </form>

                                <p>
                                  This project was created during my Insight data science fellowship
                                  in September 2016.
                                </p>
                                <p>
                                  More info in another paragraph
                                </p>

                            </div>
                        </div>
                        <div id="map-area" class="span6 pull-right">
                            <div id="map"></div>
                        </div>
                    </div>
                </div><!-- end of main row -->
            </div>

            <div>
              <div align="center" class="container">
                <div class="span12">
                <h1 align="center">Video How To</h1>
                <div align="center" class="container">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/owkWsxEKJOI" frameborder="0" allowfullscreen></iframe>
                </div>
                </div>
              </div>
            </div>

          <br> <br>
            </div>
            <div align="center" class="container">
              <div class="span12">
                <h1 align="center"> Presentation </h1>
                <iframe src="//www.slideshare.net/slideshow/embed_code/key/BAT3RBNxYGmy5z" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/NishanMann/w4-fri" title="W4 fri" target="_blank">W4 fri</a> </strong> from <strong><a href="//www.slideshare.net/NishanMann" target="_blank">Nishan Mann</a></strong>
                </div>
              </div>
            </div>

            <p>
                <a data-toggle="modal" href="#modalDisclaimer" class="btn btn-primary btn-large">Modal</a>
                <a href="javascript:void(0)" class="btn" rel="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Popover on top">Popover</a>
                <a href="javascript:void(0)" rel="tooltip" data-placement="bottom" data-original-title="Tooltip on bottom.">Tooltip</a>
            </p>

            <footer class="textcenter">
                <p class="muted">
                    <a href="https://github.com/NahsiN/SafeWalk">Fork SafeWalk on Github</a>
                </p>
            </footer>

            <footer class="textcenter">
                <p class="muted">
                    <a href="https://github.com/tobinbradley/leaflet-bootstrap-mapping-template">Fork tobinbradley's bootstrap template on Github</a>
                </p>
            </footer>


        </div><!-- /container -->

        <!-- Content not shown at load -->
        <div class="modal hide fade" id="modalDisclaimer">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Disclaimer</h3>
            </div>
            <div class="modal-body">
                <p>This system is subject to current public information rules and regulations. Information presented on this web site is considered public information and may be redistributed or copied. Mecklenburg County and its data providers give no warranty, expressed or implied, as to the accuracy, precision, timeliness, completeness, or any other aspect of the data presented. The publisher and data providers assume no liability for damage arrising from the use of this web site or the data provided herein.</p>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
            </div>
        </div>

        <!-- scripts at the bottom yo -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="../static/js/main.js"></script>
        <!-- <script src="//cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script> -->
        <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
        <!-- Call AFTER leaflet.js call  -->
        <script src="../static/js/mymap.js"></script>

    </body>

</html>
