
        <!DOCTYPE html>
        <head>
            
        
            <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
        
        
        
            
        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        
        
            
        
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://raw.githubusercontent.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
        
        
        
            
            <style>

            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                }

            #map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>
            
        
            
            <style> #map_cce0ba6eec5845549f3b287f06baf095 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
        
        
        </head>
        <body>
            
        
            
            <div class="folium-map" id="map_cce0ba6eec5845549f3b287f06baf095" ></div>
        
        
        
        </body>
        <script>
            
        
            

            var southWest = L.latLng(-90, -180);
            var northEast = L.latLng(90, 180);
            var bounds = L.latLngBounds(southWest, northEast);

            var map_cce0ba6eec5845549f3b287f06baf095 = L.map('map_cce0ba6eec5845549f3b287f06baf095', {
                                           center:[40.674648,-73.8861651],
                                           zoom: 15,
                                           maxBounds: bounds,
                                           layers: [],
                                           crs: L.CRS.EPSG3857
                                         });
            
        
        
            
            var tile_layer_e836a2ea13f54018823b2927181621ad = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    attribution: 'Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.',
                    detectRetina: false
                    }
                ).addTo(map_cce0ba6eec5845549f3b287f06baf095);

        
        
            

            var marker_6d4b205b43a14ea094574414e6dbe812 = L.marker(
                [40.674648,-73.8861651],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_cce0ba6eec5845549f3b287f06baf095);
            
        
            

                var icon_8a12f695777d4eb39db1cf96c94dc5d3 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_6d4b205b43a14ea094574414e6dbe812.setIcon(icon_8a12f695777d4eb39db1cf96c94dc5d3);
            
        
            
            var popup_11dc6e05b609403696b6c137c52d64d3 = L.popup({maxWidth: '300'});

            
                var html_8f54cddec11245f6b52dc90827a1e49f = $('         <div id="html_8f54cddec11245f6b52dc90827a1e49f"                 style="width: 100.0%; height: 100.0%;">                 Start</div>                 ')[0];
                popup_11dc6e05b609403696b6c137c52d64d3.setContent(html_8f54cddec11245f6b52dc90827a1e49f);
            

            marker_6d4b205b43a14ea094574414e6dbe812.bindPopup(popup_11dc6e05b609403696b6c137c52d64d3);

            
        
        
            
                var poly_line_48d92d8851bc433c98946573381349b6 = L.polyline(
                    [[40.674768, -73.885352], [40.674648, -73.8861651]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_48d92d8851bc433c98946573381349b6);
            
        
            
                var poly_line_762cb111a6c947bb84c7217bf5bbdc55 = L.polyline(
                    [[40.6735, -73.885027], [40.674768, -73.885352]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_762cb111a6c947bb84c7217bf5bbdc55);
            
        
            
                var poly_line_26c0becfc4884f4e80e259a716df08a4 = L.polyline(
                    [[40.6735, -73.885027], [40.673621, -73.884214]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_26c0becfc4884f4e80e259a716df08a4);
            
        
            
                var poly_line_d884ecd5a18e4ce2aa062cf7cf2bddbf = L.polyline(
                    [[40.673621, -73.884214], [40.673741, -73.883398]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_d884ecd5a18e4ce2aa062cf7cf2bddbf);
            
        
            
                var poly_line_226ef914e7cd45768247858db050e2be = L.polyline(
                    [[40.673741, -73.883398], [40.673862, -73.882585]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_226ef914e7cd45768247858db050e2be);
            
        
            
                var poly_line_42ae430bda3d4345aebbf9151a2fc65e = L.polyline(
                    [[40.673862, -73.882585], [40.6725991, -73.8822619]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_42ae430bda3d4345aebbf9151a2fc65e);
            
        
            
                var poly_line_c7ff1451bdd44b0b8a9e47329099842d = L.polyline(
                    [[40.6725991, -73.8822619], [40.6727184, -73.8813926]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_c7ff1451bdd44b0b8a9e47329099842d);
            
        
            
                var poly_line_edc12a44c1fe4b8fa00ec72e145b1a79 = L.polyline(
                    [[40.671468, -73.881079], [40.6727184, -73.8813926]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_edc12a44c1fe4b8fa00ec72e145b1a79);
            
        
            
                var poly_line_3b7e5b2284d74b44ae31edbf3cc167f9 = L.polyline(
                    [[40.671468, -73.881079], [40.671598, -73.880178]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_3b7e5b2284d74b44ae31edbf3cc167f9);
            
        
            
                var poly_line_4e62f422c1de4840aa1e2b535e158b89 = L.polyline(
                    [[40.671598, -73.880178], [40.671732, -73.879254]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_4e62f422c1de4840aa1e2b535e158b89);
            
        
            
                var poly_line_58e9e1b57fa44d248a4c2a8f60a72ebd = L.polyline(
                    [[40.671732, -73.879254], [40.671864, -73.878333]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_58e9e1b57fa44d248a4c2a8f60a72ebd);
            
        
            
                var poly_line_9954148def4a4ad994f6467994b7e5f0 = L.polyline(
                    [[40.671864, -73.878333], [40.671997, -73.877412]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_9954148def4a4ad994f6467994b7e5f0);
            
        
            
                var poly_line_a774f13a141d4b25a0df8b2ea34e5cbe = L.polyline(
                    [[40.671997, -73.877412], [40.67213, -73.876487]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_a774f13a141d4b25a0df8b2ea34e5cbe);
            
        
            
                var poly_line_b7bd4ec1d8da4698a3a2275e1e59f152 = L.polyline(
                    [[40.67213, -73.876487], [40.672263, -73.875566]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_b7bd4ec1d8da4698a3a2275e1e59f152);
            
        
            
                var poly_line_7735b40e9e064ff4957f4561b0a349c5 = L.polyline(
                    [[40.672263, -73.875566], [40.672389, -73.874624]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_7735b40e9e064ff4957f4561b0a349c5);
            
        
            
                var poly_line_43f174fdbe8e42608da509412dc9e95c = L.polyline(
                    [[40.672389, -73.874624], [40.670863, -73.874231]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_43f174fdbe8e42608da509412dc9e95c);
            
        
            
                var poly_line_3403501072ba4723b415080e4edb9079 = L.polyline(
                    [[40.670863, -73.874231], [40.669335, -73.8738]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_3403501072ba4723b415080e4edb9079);
            
        
            
                var poly_line_f4b966463628426c957267c936a4af00 = L.polyline(
                    [[40.669335, -73.8738], [40.668032, -73.872841]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_f4b966463628426c957267c936a4af00);
            
        
            
                var poly_line_6d610cc0d06a48c9909ecee4e2003b05 = L.polyline(
                    [[40.668032, -73.872841], [40.666843, -73.8719353]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_6d610cc0d06a48c9909ecee4e2003b05);
            
        
            
                var poly_line_d5fd42e6941f4c9bab89d5cd7fa290e9 = L.polyline(
                    [[40.666843, -73.8719353], [40.6667542, -73.8718677]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_d5fd42e6941f4c9bab89d5cd7fa290e9);
            
        
            
                var poly_line_2712ef69369c414eac8187fa60e240fc = L.polyline(
                    [[40.6667542, -73.8718677], [40.6666547, -73.871792]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_2712ef69369c414eac8187fa60e240fc);
            
        
            
                var poly_line_7090cd30f99849a2b4cad1c2b65ab528 = L.polyline(
                    [[40.6666547, -73.871792], [40.6665576, -73.8717187]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_7090cd30f99849a2b4cad1c2b65ab528);
            
        
            
                var poly_line_d9d61508c89148b79347ec30308b6107 = L.polyline(
                    [[40.6665576, -73.8717187], [40.665072, -73.870613]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_d9d61508c89148b79347ec30308b6107);
            
        
            
                var poly_line_6ebcf2afbf1d4945ad9ab8b242f6cfa8 = L.polyline(
                    [[40.665072, -73.870613], [40.6650557, -73.8703233], [40.6651902, -73.8693863]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_6ebcf2afbf1d4945ad9ab8b242f6cfa8);
            
        
            
                var poly_line_67f02436abd54ec3885d69db5a5d15e7 = L.polyline(
                    [[40.6651902, -73.8693863], [40.6653239, -73.8684542]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_67f02436abd54ec3885d69db5a5d15e7);
            
        
            
                var poly_line_8339360be55b4a0a8f221a3036741b9d = L.polyline(
                    [[40.6653239, -73.8684542], [40.6654588, -73.8675145]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_8339360be55b4a0a8f221a3036741b9d);
            
        
            
                var poly_line_c2cffa77a2f4431b892acd5d9f240be8 = L.polyline(
                    [[40.6654588, -73.8675145], [40.6655884, -73.8666109]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_c2cffa77a2f4431b892acd5d9f240be8);
            
        
            
                var poly_line_0975fbeedc9a4578aa1f32e7ed5fd0c7 = L.polyline(
                    [[40.6655884, -73.8666109], [40.6657206, -73.8656897]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_0975fbeedc9a4578aa1f32e7ed5fd0c7);
            
        
            
                var poly_line_e20b11c07e3344438a3be77469540024 = L.polyline(
                    [[40.6657206, -73.8656897], [40.6658537, -73.8647622]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_e20b11c07e3344438a3be77469540024);
            
        
            
                var poly_line_e279380af3004648b924ec245d2053e2 = L.polyline(
                    [[40.6658537, -73.8647622], [40.6659806, -73.8638671]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_e279380af3004648b924ec245d2053e2);
            
        
            
                var poly_line_a493a72fa9fd4b52b71314137ea21383 = L.polyline(
                    [[40.6659806, -73.8638671], [40.666024, -73.8635751]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_a493a72fa9fd4b52b71314137ea21383);
            
        
            
                var poly_line_b1dbd49f8cf240b297649b2c6f1708db = L.polyline(
                    [[40.666024, -73.8635751], [40.6662443, -73.8620398]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_b1dbd49f8cf240b297649b2c6f1708db);
            
        
            
                var poly_line_cf2ac8b4136e4a5ba32462473004b6f0 = L.polyline(
                    [[40.6662443, -73.8620398], [40.666382, -73.86108]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_cf2ac8b4136e4a5ba32462473004b6f0);
            
        
            
                var poly_line_dee5420487894b41be4ff3b89858885b = L.polyline(
                    [[40.666382, -73.86108], [40.6648323, -73.8607181]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_dee5420487894b41be4ff3b89858885b);
            
        
            
                var poly_line_055c03fd0fce46e19bd2e4cbb630cc12 = L.polyline(
                    [[40.6648323, -73.8607181], [40.6635002, -73.860407], [40.6631549, -73.8603264]],
                    {
                        
                        
                        
                        });
                map_cce0ba6eec5845549f3b287f06baf095.addLayer(poly_line_055c03fd0fce46e19bd2e4cbb630cc12);
            
        
            

            var marker_6c01009d5e12480481ee034bb9e0ddb6 = L.marker(
                [40.6631549,-73.8603264],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_cce0ba6eec5845549f3b287f06baf095);
            
        
            

                var icon_f1c7567ca46e4a9ea8abf4c45fe7ce8a = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_6c01009d5e12480481ee034bb9e0ddb6.setIcon(icon_f1c7567ca46e4a9ea8abf4c45fe7ce8a);
            
        
            
            var popup_49f69ba998e943dcb2aa065e56fc47b6 = L.popup({maxWidth: '300'});

            
                var html_7d08c05243494c0abff919b9b2e38604 = $('         <div id="html_7d08c05243494c0abff919b9b2e38604"                 style="width: 100.0%; height: 100.0%;">                 End</div>                 ')[0];
                popup_49f69ba998e943dcb2aa065e56fc47b6.setContent(html_7d08c05243494c0abff919b9b2e38604);
            

            marker_6c01009d5e12480481ee034bb9e0ddb6.bindPopup(popup_49f69ba998e943dcb2aa065e56fc47b6);

            
        
        
        
        </script>
        