
        <!DOCTYPE html>
        <head>
            
        
            <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
        
        
        
            
        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        
        
            
        
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://raw.githubusercontent.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
        
        
        
            
            <style>

            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                }

            #map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>
            
        
            
            <style> #map_a46c3b345ef14e2d892ab4dd03c3686b {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
        
        
        </head>
        <body>
            
        
            
            <div class="folium-map" id="map_a46c3b345ef14e2d892ab4dd03c3686b" ></div>
        
        
        
        </body>
        <script>
            
        
            

            var southWest = L.latLng(-90, -180);
            var northEast = L.latLng(90, 180);
            var bounds = L.latLngBounds(southWest, northEast);

            var map_a46c3b345ef14e2d892ab4dd03c3686b = L.map('map_a46c3b345ef14e2d892ab4dd03c3686b', {
                                           center:[40.7990932,-73.9550582],
                                           zoom: 15,
                                           maxBounds: bounds,
                                           layers: [],
                                           crs: L.CRS.EPSG3857
                                         });
            
        
        
            
            var tile_layer_85f3671f02b64b3798de24d5049572ed = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    attribution: 'Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.',
                    detectRetina: false
                    }
                ).addTo(map_a46c3b345ef14e2d892ab4dd03c3686b);

        
        
            

            var marker_33db2872d3044b9d9d13f9d11f77a741 = L.marker(
                [40.7990932,-73.9550582],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a46c3b345ef14e2d892ab4dd03c3686b);
            
        
            

                var icon_fa24c92d1dcd4a2fa5067815fae24c39 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_33db2872d3044b9d9d13f9d11f77a741.setIcon(icon_fa24c92d1dcd4a2fa5067815fae24c39);
            
        
            
            var popup_e1cf64db16b9404c8084d51ddc19b271 = L.popup({maxWidth: '300'});

            
                var html_37eede6936084ce5ad520b22e5ee5835 = $('         <div id="html_37eede6936084ce5ad520b22e5ee5835"                 style="width: 100.0%; height: 100.0%;">                 Start</div>                 ')[0];
                popup_e1cf64db16b9404c8084d51ddc19b271.setContent(html_37eede6936084ce5ad520b22e5ee5835);
            

            marker_33db2872d3044b9d9d13f9d11f77a741.bindPopup(popup_e1cf64db16b9404c8084d51ddc19b271);

            
        
        
            
                var poly_line_588e2c26a2104387b9a48d8ec26c03fa = L.polyline(
                    [[40.7984362, -73.9539101], [40.7985824, -73.9541139], [40.7986961, -73.954366], [40.7988017, -73.9545592], [40.7989235, -73.9547147], [40.7990494, -73.9549829], [40.7990932, -73.9550582]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_588e2c26a2104387b9a48d8ec26c03fa);
            
        
            
                var poly_line_6276af304c9f464da89e67a31c4db8cf = L.polyline(
                    [[40.7984362, -73.9539101], [40.7984365, -73.9538418], [40.7984325, -73.953767], [40.7984263, -73.9537205], [40.7984165, -73.9536586], [40.7984062, -73.9536027], [40.7983933, -73.9535557], [40.7983785, -73.9535145], [40.7983549, -73.9534633], [40.7982968, -73.9533642], [40.7982661, -73.9533139], [40.798244, -73.953268], [40.7981858, -73.9531085], [40.7981556, -73.95303], [40.7981433, -73.9529898], [40.7981359, -73.9529516], [40.7981361, -73.952909], [40.7981402, -73.9528561], [40.7981472, -73.9528083], [40.7981568, -73.9527603], [40.7981622, -73.9527433], [40.7981713, -73.9527312], [40.7981859, -73.9527149], [40.7983106, -73.9526211]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_6276af304c9f464da89e67a31c4db8cf);
            
        
            
                var poly_line_155ca876f23f4243ba54806ab05c07f8 = L.polyline(
                    [[40.7982705, -73.9525304], [40.7983106, -73.9526211]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_155ca876f23f4243ba54806ab05c07f8);
            
        
            
                var poly_line_acf353bef06c40e283efc08e99b7e3b8 = L.polyline(
                    [[40.7982104, -73.9523942], [40.7982705, -73.9525304]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_acf353bef06c40e283efc08e99b7e3b8);
            
        
            
                var poly_line_db4bf45a54b2436eaf538b29e805e41a = L.polyline(
                    [[40.798181, -73.9523184], [40.7982104, -73.9523942]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_db4bf45a54b2436eaf538b29e805e41a);
            
        
            
                var poly_line_640e56e624504b3fa62697e294706e80 = L.polyline(
                    [[40.7975888, -73.9509174], [40.798181, -73.9523184]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_640e56e624504b3fa62697e294706e80);
            
        
            
                var poly_line_c7b89f61fc37434bb6ef72e1f6b18d02 = L.polyline(
                    [[40.797086, -73.949699], [40.7975888, -73.9509174]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_c7b89f61fc37434bb6ef72e1f6b18d02);
            
        
            
                var poly_line_275b584ad1ff4b139ca08b3cdaed4c23 = L.polyline(
                    [[40.7971081, -73.949054], [40.7971216, -73.9490851], [40.7971465, -73.9491754], [40.7971538, -73.9492566], [40.7971496, -73.9493271], [40.7971337, -73.9494024], [40.7971076, -73.9494701], [40.7970951, -73.9495174], [40.7970831, -73.9495923], [40.797086, -73.949699]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_275b584ad1ff4b139ca08b3cdaed4c23);
            
        
            
                var poly_line_da04cd5575e54c74b6eaa02d23eb4e35 = L.polyline(
                    [[40.797478, -73.948792], [40.7971081, -73.949054]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_da04cd5575e54c74b6eaa02d23eb4e35);
            
        
            
                var poly_line_98181c155ef14fd9b2706013211a7b91 = L.polyline(
                    [[40.7968006, -73.9471734], [40.797478, -73.948792]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_98181c155ef14fd9b2706013211a7b91);
            
        
            
                var poly_line_8b087d71c9f448409365633eb2096769 = L.polyline(
                    [[40.7961817, -73.9456947], [40.7968006, -73.9471734]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_8b087d71c9f448409365633eb2096769);
            
        
            
                var poly_line_2361ede57ba64a0dab6c1e458279738f = L.polyline(
                    [[40.796828, -73.9452242], [40.7961817, -73.9456947]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_2361ede57ba64a0dab6c1e458279738f);
            
        
            
                var poly_line_f2104c14f91241bab341bdd369d4ad4c = L.polyline(
                    [[40.7974083, -73.9448018], [40.796828, -73.9452242]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_f2104c14f91241bab341bdd369d4ad4c);
            
        
            
                var poly_line_1c44a18f075f4aa1b0143c43fbed8c14 = L.polyline(
                    [[40.7972965, -73.9445285], [40.7974083, -73.9448018]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_1c44a18f075f4aa1b0143c43fbed8c14);
            
        
            
                var poly_line_182373d3d61943758b27fc603538184c = L.polyline(
                    [[40.7972965, -73.9445285], [40.7978665, -73.9441125]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_182373d3d61943758b27fc603538184c);
            
        
            
                var poly_line_632fbf88a62f48afbaa9f5cd6ed8f29d = L.polyline(
                    [[40.7978665, -73.9441125], [40.7985522, -73.9436121]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_632fbf88a62f48afbaa9f5cd6ed8f29d);
            
        
            
                var poly_line_2bf323132f484d2b92417917302e13bf = L.polyline(
                    [[40.7985522, -73.9436121], [40.7992437, -73.9431074]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_2bf323132f484d2b92417917302e13bf);
            
        
            
                var poly_line_acb21bb63b3d4bfab2f008e38de2c3bb = L.polyline(
                    [[40.7992437, -73.9431074], [40.7999262, -73.9426093]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_acb21bb63b3d4bfab2f008e38de2c3bb);
            
        
            
                var poly_line_10fff01fbb7f41c6810de2d8c3c0e43d = L.polyline(
                    [[40.7999262, -73.9426093], [40.8005551, -73.9421503]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_10fff01fbb7f41c6810de2d8c3c0e43d);
            
        
            
                var poly_line_0df08abe32a74b2c8c116d9269e0dc63 = L.polyline(
                    [[40.8005551, -73.9421503], [40.8011826, -73.9416923]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_0df08abe32a74b2c8c116d9269e0dc63);
            
        
            
                var poly_line_547ba4f1e6fd47159a2bdf46699bbc28 = L.polyline(
                    [[40.8011826, -73.9416923], [40.8018166, -73.9412295]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_547ba4f1e6fd47159a2bdf46699bbc28);
            
        
            
                var poly_line_fad326d3071f476d9039f7b642a07907 = L.polyline(
                    [[40.8018166, -73.9412295], [40.8011925, -73.9397405]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_fad326d3071f476d9039f7b642a07907);
            
        
            
                var poly_line_fa6d98165d3f45bda41d098459d9144b = L.polyline(
                    [[40.8011925, -73.9397405], [40.8009323, -73.9391165]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_fa6d98165d3f45bda41d098459d9144b);
            
        
            
                var poly_line_e67ed56db26b470f944ff3aff509a2ba = L.polyline(
                    [[40.8009323, -73.9391165], [40.8005203, -73.9381365]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_e67ed56db26b470f944ff3aff509a2ba);
            
        
            
                var poly_line_994b0f4b22f6461fa0fb91339f2fe702 = L.polyline(
                    [[40.8005203, -73.9381365], [40.7995808, -73.9358949]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_994b0f4b22f6461fa0fb91339f2fe702);
            
        
            
                var poly_line_058c3ac851224aa7a7426346e3475320 = L.polyline(
                    [[40.7995808, -73.9358949], [40.7995266, -73.935771]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_058c3ac851224aa7a7426346e3475320);
            
        
            
                var poly_line_9b2fe5a80d254017891afb365c4fdde6 = L.polyline(
                    [[40.7995266, -73.935771], [40.7985861, -73.9335218]],
                    {
                        
                        
                        
                        });
                map_a46c3b345ef14e2d892ab4dd03c3686b.addLayer(poly_line_9b2fe5a80d254017891afb365c4fdde6);
            
        
            

            var marker_f5ac8232b4484963827f97037fc90322 = L.marker(
                [40.7985861,-73.9335218],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a46c3b345ef14e2d892ab4dd03c3686b);
            
        
            

                var icon_890ae4e5b6c2449f9bb4fe6cb571c002 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_f5ac8232b4484963827f97037fc90322.setIcon(icon_890ae4e5b6c2449f9bb4fe6cb571c002);
            
        
            
            var popup_91a1e93ee4bf48c687b4056f734692a5 = L.popup({maxWidth: '300'});

            
                var html_a2055fa2f5c042999f6c1586dcf4a4de = $('         <div id="html_a2055fa2f5c042999f6c1586dcf4a4de"                 style="width: 100.0%; height: 100.0%;">                 End</div>                 ')[0];
                popup_91a1e93ee4bf48c687b4056f734692a5.setContent(html_a2055fa2f5c042999f6c1586dcf4a4de);
            

            marker_f5ac8232b4484963827f97037fc90322.bindPopup(popup_91a1e93ee4bf48c687b4056f734692a5);

            
        
        
        
        </script>
        