
        <!DOCTYPE html>
        <head>
            
        
            <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
        
        
        
            
        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        
        
            
        
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://raw.githubusercontent.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
        
        
        
            
            <style>

            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                }

            #map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>
            
        
            
            <style> #map_07d5c6507275492b9943ee2e6162a4f5 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
        
        
        </head>
        <body>
            
        
            
            <div class="folium-map" id="map_07d5c6507275492b9943ee2e6162a4f5" ></div>
        
        
        
        </body>
        <script>
            
        
            

            var southWest = L.latLng(-90, -180);
            var northEast = L.latLng(90, 180);
            var bounds = L.latLngBounds(southWest, northEast);

            var map_07d5c6507275492b9943ee2e6162a4f5 = L.map('map_07d5c6507275492b9943ee2e6162a4f5', {
                                           center:[40.609522,-73.977127],
                                           zoom: 12,
                                           maxBounds: bounds,
                                           layers: [],
                                           crs: L.CRS.EPSG3857
                                         });
            
        
        
            
            var tile_layer_85b70107c7ae4c488ed1f2bf5b3991af = L.tileLayer(
                'https://api.mapbox.com/styles/v1/mapbox/streets-v9/tiles/256/\{z\}/\{x\}/\{y\}?access_token=pk.eyJ1IjoibmFoc2luIiwiYSI6ImNpdDdwdDV0bzA5dHkyeW13ZTh4enl0c3MifQ.iOW2JTxp_HkABm9wuTuPqA',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    attribution: 'My Data Attribution',
                    detectRetina: false
                    }
                ).addTo(map_07d5c6507275492b9943ee2e6162a4f5);

        
        
            

            var marker_2647b8b344dd48438df639e3e7fffee3 = L.marker(
                [40.608393,-73.976847],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_07d5c6507275492b9943ee2e6162a4f5);
            
        
            

                var icon_ef1d1f7ed4dd4b92a3e7e8b986abda59 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2647b8b344dd48438df639e3e7fffee3.setIcon(icon_ef1d1f7ed4dd4b92a3e7e8b986abda59);
            
        
            
            var popup_725bf7f1693a4744b9b222b29d960d80 = L.popup({maxWidth: '300'});

            
                var html_d8c943dfa3994f8797b1fa4dd5923f21 = $('         <div id="html_d8c943dfa3994f8797b1fa4dd5923f21"                 style="width: 100.0%; height: 100.0%;">                 Start</div>                 ')[0];
                popup_725bf7f1693a4744b9b222b29d960d80.setContent(html_d8c943dfa3994f8797b1fa4dd5923f21);
            

            marker_2647b8b344dd48438df639e3e7fffee3.bindPopup(popup_725bf7f1693a4744b9b222b29d960d80);

            
        
        
            
                var poly_line_16aedf96722849d491ce2f643ed395fd = L.polyline(
                    [[40.608393, -73.976847], [40.610947, -73.977328]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_16aedf96722849d491ce2f643ed395fd);
            
        
            
                var poly_line_e65e896772274813bf3abb91a3cd0231 = L.polyline(
                    [[40.610947, -73.977328], [40.611173, -73.977011]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_e65e896772274813bf3abb91a3cd0231);
            
        
            
                var poly_line_2e7da611c1d94215b9fa7b33a3dd663c = L.polyline(
                    [[40.611769, -73.976372], [40.611173, -73.977011]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_2e7da611c1d94215b9fa7b33a3dd663c);
            
        
            
                var poly_line_cac2b2e5437448198a2dbe5398be5bea = L.polyline(
                    [[40.6123373, -73.9757777], [40.611769, -73.976372]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_cac2b2e5437448198a2dbe5398be5bea);
            
        
            
                var poly_line_b9eec2809b1c4950a651483dce0c2632 = L.polyline(
                    [[40.612885, -73.975208], [40.6123373, -73.9757777]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_b9eec2809b1c4950a651483dce0c2632);
            
        
            
                var poly_line_d4aeaebb3c3b4df3ae06a7565ee94414 = L.polyline(
                    [[40.613187, -73.974893], [40.612885, -73.975208]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_d4aeaebb3c3b4df3ae06a7565ee94414);
            
        
            
                var poly_line_54c54b3e88af478694e780871a9c92fe = L.polyline(
                    [[40.6138416, -73.9742661], [40.613187, -73.974893]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_54c54b3e88af478694e780871a9c92fe);
            
        
            
                var poly_line_0826366017004f1b87bb6238516543db = L.polyline(
                    [[40.6140406, -73.9739975], [40.6140305, -73.9741343], [40.6138971, -73.9742644], [40.6138416, -73.9742661]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_0826366017004f1b87bb6238516543db);
            
        
            
                var poly_line_7bc3a0b50e724bbbbfb685a639706243 = L.polyline(
                    [[40.6164233, -73.9744426], [40.6140406, -73.9739975]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_7bc3a0b50e724bbbbfb685a639706243);
            
        
            
                var poly_line_6df576c2c6cb470c98cdd1e1380244cf = L.polyline(
                    [[40.6208857, -73.975285], [40.617407, -73.97463], [40.6164233, -73.9744426]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_6df576c2c6cb470c98cdd1e1380244cf);
            
        
            
                var poly_line_c9a05917120f45baa89878e6902120a9 = L.polyline(
                    [[40.623594, -73.975802], [40.6208857, -73.975285]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_c9a05917120f45baa89878e6902120a9);
            
        
            
                var poly_line_f67e7e4839004239b268a6c2ee2383c8 = L.polyline(
                    [[40.6259884, -73.9762613], [40.623594, -73.975802]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_f67e7e4839004239b268a6c2ee2383c8);
            
        
            
                var poly_line_cd7d46374ba247428ef599da1bf2f958 = L.polyline(
                    [[40.627008, -73.97645], [40.6259884, -73.9762613]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_cd7d46374ba247428ef599da1bf2f958);
            
        
            
                var poly_line_6c4955bfb61c45a88e1fbd985fbeb582 = L.polyline(
                    [[40.6272094, -73.9764879], [40.627008, -73.97645]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_6c4955bfb61c45a88e1fbd985fbeb582);
            
        
            
                var poly_line_a37df22108a94845a31a670824187f1f = L.polyline(
                    [[40.6274053, -73.9765228], [40.6272094, -73.9764879]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_a37df22108a94845a31a670824187f1f);
            
        
            
                var poly_line_76005424f7954178b4ae4fac4a3ea8da = L.polyline(
                    [[40.6274333, -73.9765285], [40.6274053, -73.9765228]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_76005424f7954178b4ae4fac4a3ea8da);
            
        
            
                var poly_line_7e843a1455e1427eb1e7c44bea10c4a0 = L.polyline(
                    [[40.6276058, -73.97656], [40.6274333, -73.9765285]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_7e843a1455e1427eb1e7c44bea10c4a0);
            
        
            
                var poly_line_eeab378c564d4d00b3c9e048e4796764 = L.polyline(
                    [[40.6283708, -73.9767018], [40.6276058, -73.97656]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_eeab378c564d4d00b3c9e048e4796764);
            
        
            
                var poly_line_c2d85f9dca204ef588459914b1a0ac90 = L.polyline(
                    [[40.629089, -73.97685], [40.6283708, -73.9767018]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_c2d85f9dca204ef588459914b1a0ac90);
            
        
            
                var poly_line_2314e5c3eab24177820f0a027332012f = L.polyline(
                    [[40.629871, -73.976999], [40.629089, -73.97685]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_2314e5c3eab24177820f0a027332012f);
            
        
            
                var poly_line_3cfb9f97eb9040f8be65568a5d3ce58b = L.polyline(
                    [[40.630747, -73.977165], [40.629871, -73.976999]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_3cfb9f97eb9040f8be65568a5d3ce58b);
            
        
            
                var poly_line_15a1d8d93e124366a96d54ac325319f2 = L.polyline(
                    [[40.6331595, -73.9776047], [40.630747, -73.977165]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_15a1d8d93e124366a96d54ac325319f2);
            
        
            
                var poly_line_d5c82ad563c04ba0a6d45617447cae0e = L.polyline(
                    [[40.6355481, -73.9780701], [40.6331595, -73.9776047]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_d5c82ad563c04ba0a6d45617447cae0e);
            
        
            
                var poly_line_31dc2df6e9e2439f823f1a884cdda123 = L.polyline(
                    [[40.637038, -73.9783503], [40.6355481, -73.9780701]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_31dc2df6e9e2439f823f1a884cdda123);
            
        
            
                var poly_line_300e28588147488cbe023cf4786e1740 = L.polyline(
                    [[40.6375787, -73.9784188], [40.637038, -73.9783503]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_300e28588147488cbe023cf4786e1740);
            
        
            
                var poly_line_2737f0e48cc74c4297b17af34280d3cd = L.polyline(
                    [[40.6375787, -73.9784188], [40.6379491, -73.9784724]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_2737f0e48cc74c4297b17af34280d3cd);
            
        
            
                var poly_line_1a1219917d374261aafd6ee55a2d3c2f = L.polyline(
                    [[40.6379491, -73.9784724], [40.6403444, -73.9789203]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_1a1219917d374261aafd6ee55a2d3c2f);
            
        
            
                var poly_line_849f1a8d72fb4a7ea51d5af79ab52cb5 = L.polyline(
                    [[40.6403444, -73.9789203], [40.6409357, -73.9790303], [40.641064, -73.9791059]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_849f1a8d72fb4a7ea51d5af79ab52cb5);
            
        
            
                var poly_line_9cf1f43e7a9a4346af93b38f95fb144a = L.polyline(
                    [[40.642796, -73.979442], [40.641064, -73.9791059]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_9cf1f43e7a9a4346af93b38f95fb144a);
            
        
            
                var poly_line_5f11281c352e4c3ca3e16c99dee3c65f = L.polyline(
                    [[40.645109, -73.97988], [40.642796, -73.979442]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_5f11281c352e4c3ca3e16c99dee3c65f);
            
        
            
                var poly_line_c375a66ad4a84a99a62e610cbd41e980 = L.polyline(
                    [[40.6460381, -73.9800545], [40.645109, -73.97988]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_c375a66ad4a84a99a62e610cbd41e980);
            
        
            
                var poly_line_8169b5e02ad5483e970e81bdbe0206d0 = L.polyline(
                    [[40.647297, -73.980291], [40.6460381, -73.9800545]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_8169b5e02ad5483e970e81bdbe0206d0);
            
        
            
                var poly_line_010712d71bf647f9b5a04fab0ae705a5 = L.polyline(
                    [[40.647694, -73.980364], [40.647297, -73.980291]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_010712d71bf647f9b5a04fab0ae705a5);
            
        
            
                var poly_line_dff5fd6aceb04da9afa456b6b36140c4 = L.polyline(
                    [[40.649524, -73.980712], [40.647694, -73.980364]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_dff5fd6aceb04da9afa456b6b36140c4);
            
        
            
                var poly_line_d272a6adf24440a0bf6045a194e6f00b = L.polyline(
                    [[40.651592, -73.98111], [40.649524, -73.980712]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_d272a6adf24440a0bf6045a194e6f00b);
            
        
            
                var poly_line_df35fff0bc5f4087a6747c2c9c3ae85d = L.polyline(
                    [[40.652637, -73.981297], [40.651592, -73.98111]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_df35fff0bc5f4087a6747c2c9c3ae85d);
            
        
            
                var poly_line_5d090fca90dd4401a1885a076015a78d = L.polyline(
                    [[40.653416, -73.981453], [40.652637, -73.981297]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_5d090fca90dd4401a1885a076015a78d);
            
        
            
                var poly_line_dd53292c1e914342805849ff24e39f4a = L.polyline(
                    [[40.655246, -73.981796], [40.654236, -73.981607], [40.653416, -73.981453]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_dd53292c1e914342805849ff24e39f4a);
            
        
            
                var poly_line_63a839faf043452987462445f7b4ccbd = L.polyline(
                    [[40.655835, -73.981222], [40.655246, -73.981796]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_63a839faf043452987462445f7b4ccbd);
            
        
            
                var poly_line_cbe0edf122754529880508b02eb5ad6c = L.polyline(
                    [[40.655835, -73.981222], [40.6559447, -73.9811077]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_cbe0edf122754529880508b02eb5ad6c);
            
        
            
                var poly_line_5ac20e549bb042d8bf2811532c4f2b68 = L.polyline(
                    [[40.6559447, -73.9811077], [40.656268, -73.9807708]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_5ac20e549bb042d8bf2811532c4f2b68);
            
        
            
                var poly_line_e1cd22bf8e414ef6aa6d6e93eef8db47 = L.polyline(
                    [[40.656268, -73.9807708], [40.656381, -73.980653]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_e1cd22bf8e414ef6aa6d6e93eef8db47);
            
        
            
                var poly_line_609507c6e168451896b102851165c712 = L.polyline(
                    [[40.65694, -73.98007], [40.656381, -73.980653]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_609507c6e168451896b102851165c712);
            
        
            
                var poly_line_d153b2693de64087992f945ecbe7cfb5 = L.polyline(
                    [[40.657479, -73.979513], [40.65694, -73.98007]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_d153b2693de64087992f945ecbe7cfb5);
            
        
            
                var poly_line_95c77847077d4a2e83fabe2f332d33a1 = L.polyline(
                    [[40.658052, -73.979023], [40.657479, -73.979513]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_95c77847077d4a2e83fabe2f332d33a1);
            
        
            
                var poly_line_f4423b7e1edf4a4ebd5c729d093e4aec = L.polyline(
                    [[40.658656, -73.978514], [40.658052, -73.979023]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_f4423b7e1edf4a4ebd5c729d093e4aec);
            
        
            
                var poly_line_8e08ccc37e9649d9b076a8f4ed45ebeb = L.polyline(
                    [[40.659257, -73.978015], [40.658656, -73.978514]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_8e08ccc37e9649d9b076a8f4ed45ebeb);
            
        
            
                var poly_line_7009ea9c93344c4380ba5ffc10e64695 = L.polyline(
                    [[40.6598701, -73.9774753], [40.659257, -73.978015]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_7009ea9c93344c4380ba5ffc10e64695);
            
        
            
                var poly_line_8a32695b37a944ebb08f90b8ba9048e0 = L.polyline(
                    [[40.6606716, -73.9791698], [40.6598701, -73.9774753]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_8a32695b37a944ebb08f90b8ba9048e0);
            
        
            
                var poly_line_9d8347f2979345a1b9b9e146dca57900 = L.polyline(
                    [[40.6608138, -73.9794706], [40.6606716, -73.9791698]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_9d8347f2979345a1b9b9e146dca57900);
            
        
            
                var poly_line_7ae87114afde495da7f448ffc3eb50c6 = L.polyline(
                    [[40.6608138, -73.9794706], [40.6608829, -73.9794663], [40.6609807, -73.9794396]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_7ae87114afde495da7f448ffc3eb50c6);
            
        
            
                var poly_line_b4f4626b4f90492bbc3dd96543a36f68 = L.polyline(
                    [[40.6609807, -73.9794396], [40.6610219, -73.979434], [40.6610765, -73.9794413]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_b4f4626b4f90492bbc3dd96543a36f68);
            
        
            
                var poly_line_e6b4fc5062b24b32bb65614e83df8356 = L.polyline(
                    [[40.6610765, -73.9794413], [40.6611577, -73.9794718]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_e6b4fc5062b24b32bb65614e83df8356);
            
        
            
                var poly_line_760ba3eafcec4c8ba3f73173fa8a54ff = L.polyline(
                    [[40.6611577, -73.9794718], [40.6611822, -73.9794254]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_760ba3eafcec4c8ba3f73173fa8a54ff);
            
        
            
                var poly_line_b4af9dcf7c1b475892c7ac139904ed98 = L.polyline(
                    [[40.6611822, -73.9794254], [40.6612447, -73.9794581], [40.6628174, -73.9781599], [40.6633282, -73.9777303]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_b4af9dcf7c1b475892c7ac139904ed98);
            
        
            
                var poly_line_3c90441c99c04feb897fe621abead067 = L.polyline(
                    [[40.6633282, -73.9777303], [40.6644778, -73.9767805]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_3c90441c99c04feb897fe621abead067);
            
        
            
                var poly_line_54b18b84d792458a9b1c9d0cd4275bde = L.polyline(
                    [[40.6644778, -73.9767805], [40.6645805, -73.9766957]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_54b18b84d792458a9b1c9d0cd4275bde);
            
        
            
                var poly_line_f76159aacdba4c229ecaec9dd5ee5cb7 = L.polyline(
                    [[40.6645805, -73.9766957], [40.664795, -73.9765184], [40.66548, -73.9759395]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_f76159aacdba4c229ecaec9dd5ee5cb7);
            
        
            
                var poly_line_58c1d59627ba4c45b57cdbe8b5f94f1c = L.polyline(
                    [[40.66548, -73.9759395], [40.6665874, -73.9750084], [40.6670771, -73.97461]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_58c1d59627ba4c45b57cdbe8b5f94f1c);
            
        
            
                var poly_line_27aab57f732b42b084925f997a78c132 = L.polyline(
                    [[40.6670771, -73.97461], [40.6671244, -73.974568]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_27aab57f732b42b084925f997a78c132);
            
        
            
                var poly_line_22b5c907cd0d43b8a667ea5975ffd86a = L.polyline(
                    [[40.6671244, -73.974568], [40.667177, -73.9745239]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_22b5c907cd0d43b8a667ea5975ffd86a);
            
        
            
                var poly_line_4e3bba20716d4fdea4812936633c4095 = L.polyline(
                    [[40.667177, -73.9745239], [40.668082, -73.9737756], [40.668093, -73.9737665], [40.668098, -73.9737617]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_4e3bba20716d4fdea4812936633c4095);
            
        
            
                var poly_line_b904985e18474f29a3e6d55aa8adc1f5 = L.polyline(
                    [[40.6681575, -73.9737853], [40.668098, -73.9737617]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_b904985e18474f29a3e6d55aa8adc1f5);
            
        
            
                var poly_line_2554a6eecf9f406589eaed48e6060aa5 = L.polyline(
                    [[40.668223, -73.9738112], [40.6681575, -73.9737853]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_2554a6eecf9f406589eaed48e6060aa5);
            
        
            
                var poly_line_6efd1bf34aae4bda85dc66d7858c1ff8 = L.polyline(
                    [[40.6688363, -73.973312], [40.668223, -73.9738112]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_6efd1bf34aae4bda85dc66d7858c1ff8);
            
        
            
                var poly_line_44a45a564fde4aea8593a179fff7a686 = L.polyline(
                    [[40.669427, -73.9728052], [40.6688363, -73.973312]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_44a45a564fde4aea8593a179fff7a686);
            
        
            
                var poly_line_2a1fe5dbdcaa481eba0b93f52d341979 = L.polyline(
                    [[40.670029, -73.9723022], [40.669427, -73.9728052]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_2a1fe5dbdcaa481eba0b93f52d341979);
            
        
            
                var poly_line_cd92d36c07304858a07278ed5007d38e = L.polyline(
                    [[40.6706383, -73.9717962], [40.670029, -73.9723022]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_cd92d36c07304858a07278ed5007d38e);
            
        
            
                var poly_line_e65db149066a409b8203eaa8cb0f4bae = L.polyline(
                    [[40.6712414, -73.9713319], [40.6706383, -73.9717962]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_e65db149066a409b8203eaa8cb0f4bae);
            
        
            
                var poly_line_c52cd8c0d2bd42e1ac39e4e10170eab3 = L.polyline(
                    [[40.6718633, -73.970845], [40.6712414, -73.9713319]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_c52cd8c0d2bd42e1ac39e4e10170eab3);
            
        
            
                var poly_line_44c65baca3884ed3a69574e16ba0bf78 = L.polyline(
                    [[40.6724639, -73.9704681], [40.6723801, -73.9704875], [40.6718633, -73.970845]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_44c65baca3884ed3a69574e16ba0bf78);
            
        
            
                var poly_line_f83e81af12e34fe293a89c2326136664 = L.polyline(
                    [[40.6725213, -73.9705799], [40.6725048, -73.9705478], [40.6724639, -73.9704681]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_f83e81af12e34fe293a89c2326136664);
            
        
            
                var poly_line_4c2387df21e740048dfd45dbe0c7c3f6 = L.polyline(
                    [[40.6725213, -73.9705799], [40.6726543, -73.970529]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_4c2387df21e740048dfd45dbe0c7c3f6);
            
        
            
                var poly_line_99895697b93040618ccb59dc3009d87a = L.polyline(
                    [[40.67266, -73.9705572], [40.6726543, -73.970529]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_99895697b93040618ccb59dc3009d87a);
            
        
            
                var poly_line_d00f038a474b43ddad6d5ca2e4d71111 = L.polyline(
                    [[40.6726949, -73.9707302], [40.67266, -73.9705572]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_d00f038a474b43ddad6d5ca2e4d71111);
            
        
            
                var poly_line_a5630a9bb86040c890baf6765022b2dd = L.polyline(
                    [[40.6727861, -73.9708823], [40.6726949, -73.9707302]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_07d5c6507275492b9943ee2e6162a4f5.addLayer(poly_line_a5630a9bb86040c890baf6765022b2dd);
            
        
            

            var marker_83d979f0ac674b79b4fb988ebd18603b = L.marker(
                [40.6727861,-73.9708823],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_07d5c6507275492b9943ee2e6162a4f5);
            
        
            

                var icon_c755d46f92f742c6b5c71a14624cb9f6 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_83d979f0ac674b79b4fb988ebd18603b.setIcon(icon_c755d46f92f742c6b5c71a14624cb9f6);
            
        
            
            var popup_c0eae59b0d854392b06ab892d406c93f = L.popup({maxWidth: '300'});

            
                var html_c7f2c128eb99409b9e1e718b006b6c9c = $('         <div id="html_c7f2c128eb99409b9e1e718b006b6c9c"                 style="width: 100.0%; height: 100.0%;">                 End</div>                 ')[0];
                popup_c0eae59b0d854392b06ab892d406c93f.setContent(html_c7f2c128eb99409b9e1e718b006b6c9c);
            

            marker_83d979f0ac674b79b4fb988ebd18603b.bindPopup(popup_c0eae59b0d854392b06ab892d406c93f);

            
        
        
        
        </script>
        