
        <!DOCTYPE html>
        <head>
            
        
            <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
        
        
        
            
        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        
        
            
        
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://raw.githubusercontent.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
        
        
        
            
            <style>

            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                }

            #map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>
            
        
            
            <style> #map_990e6ff0d61d4b92a7764876b7430584 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
        
        
        </head>
        <body>
            
        
            
            <div class="folium-map" id="map_990e6ff0d61d4b92a7764876b7430584" ></div>
        
        
        
        </body>
        <script>
            
        
            

            var southWest = L.latLng(-90, -180);
            var northEast = L.latLng(90, 180);
            var bounds = L.latLngBounds(southWest, northEast);

            var map_990e6ff0d61d4b92a7764876b7430584 = L.map('map_990e6ff0d61d4b92a7764876b7430584', {
                                           center:[40.7468081,-73.994257],
                                           zoom: 15,
                                           maxBounds: bounds,
                                           layers: [],
                                           crs: L.CRS.EPSG3857
                                         });
            
        
        
            
            var tile_layer_74ef367caac84e7184780dfe673fc00b = L.tileLayer(
                'https://api.mapbox.com/styles/v1/mapbox/streets-v9/tiles/256/\{z\}/\{x\}/\{y\}?access_token=pk.eyJ1IjoibmFoc2luIiwiYSI6ImNpdDdwdDV0bzA5dHkyeW13ZTh4enl0c3MifQ.iOW2JTxp_HkABm9wuTuPqA',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    attribution: 'My Data Attribution',
                    detectRetina: false
                    }
                ).addTo(map_990e6ff0d61d4b92a7764876b7430584);

        
        
            

            var marker_9179272620ec44189d80b2a2c11a4c01 = L.marker(
                [40.7468081,-73.994257],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_990e6ff0d61d4b92a7764876b7430584);
            
        
            

                var icon_175fd341a76044e69e33d4e7240e7af8 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_9179272620ec44189d80b2a2c11a4c01.setIcon(icon_175fd341a76044e69e33d4e7240e7af8);
            
        
            
            var popup_4d15b1f8c46d4446baa867069c97e42e = L.popup({maxWidth: '300'});

            
                var html_1a447d61ca194f48b49da8ea0d0d23f8 = $('         <div id="html_1a447d61ca194f48b49da8ea0d0d23f8"                 style="width: 100.0%; height: 100.0%;">                 Start</div>                 ')[0];
                popup_4d15b1f8c46d4446baa867069c97e42e.setContent(html_1a447d61ca194f48b49da8ea0d0d23f8);
            

            marker_9179272620ec44189d80b2a2c11a4c01.bindPopup(popup_4d15b1f8c46d4446baa867069c97e42e);

            
        
        
            
                var poly_line_5ea597d479bb464db807f7e824b4fdd5 = L.polyline(
                    [[40.7466795, -73.9939533], [40.7468081, -73.994257]],
                    {
                        
                        
                        
                        });
                map_990e6ff0d61d4b92a7764876b7430584.addLayer(poly_line_5ea597d479bb464db807f7e824b4fdd5);
            
        
            
                var poly_line_9e089668022543f7a61ef0e022d86665 = L.polyline(
                    [[40.746618, -73.993813], [40.7466795, -73.9939533]],
                    {
                        
                        
                        
                        });
                map_990e6ff0d61d4b92a7764876b7430584.addLayer(poly_line_9e089668022543f7a61ef0e022d86665);
            
        
            
                var poly_line_9c1b707932d1413d9fc35cdaf1a74a7c = L.polyline(
                    [[40.746618, -73.993813], [40.746004, -73.994262]],
                    {
                        
                        
                        
                        });
                map_990e6ff0d61d4b92a7764876b7430584.addLayer(poly_line_9c1b707932d1413d9fc35cdaf1a74a7c);
            
        
            
                var poly_line_ae5b15328d084603b252863b47cd0ac7 = L.polyline(
                    [[40.746004, -73.994262], [40.745383, -73.994709]],
                    {
                        
                        
                        
                        });
                map_990e6ff0d61d4b92a7764876b7430584.addLayer(poly_line_ae5b15328d084603b252863b47cd0ac7);
            
        
            
                var poly_line_de3bb90a72b5403b898742ca8fd6ba96 = L.polyline(
                    [[40.745383, -73.994709], [40.744763, -73.995161]],
                    {
                        
                        
                        
                        });
                map_990e6ff0d61d4b92a7764876b7430584.addLayer(poly_line_de3bb90a72b5403b898742ca8fd6ba96);
            
        
            
                var poly_line_70088a04d7374f10b276010304acc1e8 = L.polyline(
                    [[40.744763, -73.995161], [40.744433, -73.9954016]],
                    {
                        
                        
                        
                        });
                map_990e6ff0d61d4b92a7764876b7430584.addLayer(poly_line_70088a04d7374f10b276010304acc1e8);
            
        
            
                var poly_line_27010024ea1f44a0811dfce8e5dba4f6 = L.polyline(
                    [[40.744433, -73.9954016], [40.744099, -73.995645]],
                    {
                        
                        
                        
                        });
                map_990e6ff0d61d4b92a7764876b7430584.addLayer(poly_line_27010024ea1f44a0811dfce8e5dba4f6);
            
        
            
                var poly_line_f1ff5d9b48fa4f5e80c923b9848c6929 = L.polyline(
                    [[40.744099, -73.995645], [40.743431, -73.996129]],
                    {
                        
                        
                        
                        });
                map_990e6ff0d61d4b92a7764876b7430584.addLayer(poly_line_f1ff5d9b48fa4f5e80c923b9848c6929);
            
        
            
                var poly_line_7e59a1717fbe47518c9760a69154a614 = L.polyline(
                    [[40.743431, -73.996129], [40.742811, -73.99658]],
                    {
                        
                        
                        
                        });
                map_990e6ff0d61d4b92a7764876b7430584.addLayer(poly_line_7e59a1717fbe47518c9760a69154a614);
            
        
            
                var poly_line_98cb6f54df3d43e0aa11b259b9c0eed3 = L.polyline(
                    [[40.742811, -73.99658], [40.742228, -73.997007]],
                    {
                        
                        
                        
                        });
                map_990e6ff0d61d4b92a7764876b7430584.addLayer(poly_line_98cb6f54df3d43e0aa11b259b9c0eed3);
            
        
            
                var poly_line_5eae588564af42328165973c93ddc604 = L.polyline(
                    [[40.742228, -73.997007], [40.741642, -73.997434]],
                    {
                        
                        
                        
                        });
                map_990e6ff0d61d4b92a7764876b7430584.addLayer(poly_line_5eae588564af42328165973c93ddc604);
            
        
            

            var marker_88d871c6035f4210acfaa3c902fd269a = L.marker(
                [40.741642,-73.997434],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_990e6ff0d61d4b92a7764876b7430584);
            
        
            

                var icon_edea97ce9f554040b264c99e53a112a1 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_88d871c6035f4210acfaa3c902fd269a.setIcon(icon_edea97ce9f554040b264c99e53a112a1);
            
        
            
            var popup_dc7223d5166b432d9aff18a7649757aa = L.popup({maxWidth: '300'});

            
                var html_5938082404604f93bb6dcf04df4dae21 = $('         <div id="html_5938082404604f93bb6dcf04df4dae21"                 style="width: 100.0%; height: 100.0%;">                 End</div>                 ')[0];
                popup_dc7223d5166b432d9aff18a7649757aa.setContent(html_5938082404604f93bb6dcf04df4dae21);
            

            marker_88d871c6035f4210acfaa3c902fd269a.bindPopup(popup_dc7223d5166b432d9aff18a7649757aa);

            
        
        
        
        </script>
        