
        <!DOCTYPE html>
        <head>
            
        
            <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
        
        
        
            
        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        
        
            
        
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://raw.githubusercontent.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
        
        
        
            
            <style>

            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                }

            #map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>
            
        
            
            <style> #map_6fc67c38e6d14199ab96d48ab6fbfd34 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
        
        
        </head>
        <body>
            
        
            
            <div class="folium-map" id="map_6fc67c38e6d14199ab96d48ab6fbfd34" ></div>
        
        
        
        </body>
        <script>
            
        
            

            var southWest = L.latLng(-90, -180);
            var northEast = L.latLng(90, 180);
            var bounds = L.latLngBounds(southWest, northEast);

            var map_6fc67c38e6d14199ab96d48ab6fbfd34 = L.map('map_6fc67c38e6d14199ab96d48ab6fbfd34', {
                                           center:[40.7468081,-73.994257],
                                           zoom: 15,
                                           maxBounds: bounds,
                                           layers: [],
                                           crs: L.CRS.EPSG3857
                                         });
            
        
        
            
            var tile_layer_f40099c7916e47ed95e7495a386319d6 = L.tileLayer(
                'https://api.mapbox.com/styles/v1/mapbox/streets-v9/tiles/256/\{z\}/\{x\}/\{y\}?access_token=pk.eyJ1IjoibmFoc2luIiwiYSI6ImNpdDdwdDV0bzA5dHkyeW13ZTh4enl0c3MifQ.iOW2JTxp_HkABm9wuTuPqA',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    attribution: 'My Data Attribution',
                    detectRetina: false
                    }
                ).addTo(map_6fc67c38e6d14199ab96d48ab6fbfd34);

        
        
            

            var marker_1e1902d00f9b48cf8a6075a4ecedcc84 = L.marker(
                [40.7468081,-73.994257],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_6fc67c38e6d14199ab96d48ab6fbfd34);
            
        
            

                var icon_36aa72a068c9486fa6afc04253f31761 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_1e1902d00f9b48cf8a6075a4ecedcc84.setIcon(icon_36aa72a068c9486fa6afc04253f31761);
            
        
            
            var popup_c287677bcd6d4e13849a6d8193e0fb91 = L.popup({maxWidth: '300'});

            
                var html_aee9d5f3e5e04cfb872c8a361b825c53 = $('         <div id="html_aee9d5f3e5e04cfb872c8a361b825c53"                 style="width: 100.0%; height: 100.0%;">                 Start</div>                 ')[0];
                popup_c287677bcd6d4e13849a6d8193e0fb91.setContent(html_aee9d5f3e5e04cfb872c8a361b825c53);
            

            marker_1e1902d00f9b48cf8a6075a4ecedcc84.bindPopup(popup_c287677bcd6d4e13849a6d8193e0fb91);

            
        
        
            
                var poly_line_dee6d34003bd4149960cd6f74b2e2db5 = L.polyline(
                    [[40.7466795, -73.9939533], [40.7468081, -73.994257]],
                    {
                        
                        
                        
                        });
                map_6fc67c38e6d14199ab96d48ab6fbfd34.addLayer(poly_line_dee6d34003bd4149960cd6f74b2e2db5);
            
        
            
                var poly_line_7fed789e4d8b49b7abc296b2ad218958 = L.polyline(
                    [[40.746618, -73.993813], [40.7466795, -73.9939533]],
                    {
                        
                        
                        
                        });
                map_6fc67c38e6d14199ab96d48ab6fbfd34.addLayer(poly_line_7fed789e4d8b49b7abc296b2ad218958);
            
        
            
                var poly_line_2198eeb11e6a45b0b22141720ac50dba = L.polyline(
                    [[40.746618, -73.993813], [40.746004, -73.994262]],
                    {
                        
                        
                        
                        });
                map_6fc67c38e6d14199ab96d48ab6fbfd34.addLayer(poly_line_2198eeb11e6a45b0b22141720ac50dba);
            
        
            
                var poly_line_3950c14a65844349845a478934d5929c = L.polyline(
                    [[40.746004, -73.994262], [40.745383, -73.994709]],
                    {
                        
                        
                        
                        });
                map_6fc67c38e6d14199ab96d48ab6fbfd34.addLayer(poly_line_3950c14a65844349845a478934d5929c);
            
        
            
                var poly_line_1e473aac04b0497f9e54a7a54fe34199 = L.polyline(
                    [[40.745383, -73.994709], [40.744763, -73.995161]],
                    {
                        
                        
                        
                        });
                map_6fc67c38e6d14199ab96d48ab6fbfd34.addLayer(poly_line_1e473aac04b0497f9e54a7a54fe34199);
            
        
            
                var poly_line_128927f3b55c48c8b7b2c5fc0ff675b5 = L.polyline(
                    [[40.744763, -73.995161], [40.744433, -73.9954016]],
                    {
                        
                        
                        
                        });
                map_6fc67c38e6d14199ab96d48ab6fbfd34.addLayer(poly_line_128927f3b55c48c8b7b2c5fc0ff675b5);
            
        
            
                var poly_line_0c487bda7f0f4c2183bf92d5b58379da = L.polyline(
                    [[40.744433, -73.9954016], [40.744099, -73.995645]],
                    {
                        
                        
                        
                        });
                map_6fc67c38e6d14199ab96d48ab6fbfd34.addLayer(poly_line_0c487bda7f0f4c2183bf92d5b58379da);
            
        
            
                var poly_line_d35b65e31fb24fa0add7d2c110ffbdf1 = L.polyline(
                    [[40.744099, -73.995645], [40.743431, -73.996129]],
                    {
                        
                        
                        
                        });
                map_6fc67c38e6d14199ab96d48ab6fbfd34.addLayer(poly_line_d35b65e31fb24fa0add7d2c110ffbdf1);
            
        
            
                var poly_line_33dc1944e00c4492b6921f4bbaad1059 = L.polyline(
                    [[40.743431, -73.996129], [40.742811, -73.99658]],
                    {
                        
                        
                        
                        });
                map_6fc67c38e6d14199ab96d48ab6fbfd34.addLayer(poly_line_33dc1944e00c4492b6921f4bbaad1059);
            
        
            
                var poly_line_e624c71879c7426886df0d2730542180 = L.polyline(
                    [[40.742811, -73.99658], [40.742228, -73.997007]],
                    {
                        
                        
                        
                        });
                map_6fc67c38e6d14199ab96d48ab6fbfd34.addLayer(poly_line_e624c71879c7426886df0d2730542180);
            
        
            
                var poly_line_fdc61ebb441e4c69a83cf2ae2e89ed3f = L.polyline(
                    [[40.742228, -73.997007], [40.741642, -73.997434]],
                    {
                        
                        
                        
                        });
                map_6fc67c38e6d14199ab96d48ab6fbfd34.addLayer(poly_line_fdc61ebb441e4c69a83cf2ae2e89ed3f);
            
        
            

            var marker_cf649367ea694fc08a8ea412d6bdcff8 = L.marker(
                [40.741642,-73.997434],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_6fc67c38e6d14199ab96d48ab6fbfd34);
            
        
            

                var icon_bbb016f7675c4f5ba1bf7f200643680b = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_cf649367ea694fc08a8ea412d6bdcff8.setIcon(icon_bbb016f7675c4f5ba1bf7f200643680b);
            
        
            
            var popup_fa2eaf092c4142548aea9bfa618c41ac = L.popup({maxWidth: '300'});

            
                var html_8ae444bfd4214983914066e2a7d5d7fb = $('         <div id="html_8ae444bfd4214983914066e2a7d5d7fb"                 style="width: 100.0%; height: 100.0%;">                 End</div>                 ')[0];
                popup_fa2eaf092c4142548aea9bfa618c41ac.setContent(html_8ae444bfd4214983914066e2a7d5d7fb);
            

            marker_cf649367ea694fc08a8ea412d6bdcff8.bindPopup(popup_fa2eaf092c4142548aea9bfa618c41ac);

            
        
        
        
        </script>
        