
        <!DOCTYPE html>
        <head>
            
        
            <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
        
        
        
            
        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        
        
            
        
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://raw.githubusercontent.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
        
        
        
            
            <style>

            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                }

            #map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>
            
        
            
            <style> #map_805e482954804e6294e9ebbb6e3631bc {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
        
        
        </head>
        <body>
            
        
            
            <div class="folium-map" id="map_805e482954804e6294e9ebbb6e3631bc" ></div>
        
        
        
        </body>
        <script>
            
        
            

            var southWest = L.latLng(-90, -180);
            var northEast = L.latLng(90, 180);
            var bounds = L.latLngBounds(southWest, northEast);

            var map_805e482954804e6294e9ebbb6e3631bc = L.map('map_805e482954804e6294e9ebbb6e3631bc', {
                                           center:[40.687179,-73.947494],
                                           zoom: 12,
                                           maxBounds: bounds,
                                           layers: [],
                                           crs: L.CRS.EPSG3857
                                         });
            
        
        
            
            var tile_layer_03d64b796c5c415f91c91980c5efc1af = L.tileLayer(
                'https://api.mapbox.com/styles/v1/mapbox/streets-v9/tiles/256/\{z\}/\{x\}/\{y\}?access_token=pk.eyJ1IjoibmFoc2luIiwiYSI6ImNpdDdwdDV0bzA5dHkyeW13ZTh4enl0c3MifQ.iOW2JTxp_HkABm9wuTuPqA',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    attribution: 'My Data Attribution',
                    detectRetina: false
                    }
                ).addTo(map_805e482954804e6294e9ebbb6e3631bc);

        
        
            

            var marker_4cd0d7833d0b4712a6f9f4c79f4f970d = L.marker(
                [40.6873098,-73.9476018],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_805e482954804e6294e9ebbb6e3631bc);
            
        
            

                var icon_deb5c77fa9f244f0b5c3d3f13c6b0ff2 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_4cd0d7833d0b4712a6f9f4c79f4f970d.setIcon(icon_deb5c77fa9f244f0b5c3d3f13c6b0ff2);
            
        
            
            var popup_bfbe93fa6fae4f76b30f5ac6253612e5 = L.popup({maxWidth: '300'});

            
                var html_e4abc4c014024e6c9441ad0e65aa18da = $('         <div id="html_e4abc4c014024e6c9441ad0e65aa18da"                 style="width: 100.0%; height: 100.0%;">                 Start</div>                 ')[0];
                popup_bfbe93fa6fae4f76b30f5ac6253612e5.setContent(html_e4abc4c014024e6c9441ad0e65aa18da);
            

            marker_4cd0d7833d0b4712a6f9f4c79f4f970d.bindPopup(popup_bfbe93fa6fae4f76b30f5ac6253612e5);

            
        
        
            
                var poly_line_b27b5f1153d942cc8a20b329d92e6cf6 = L.polyline(
                    [[40.6873098, -73.9476018], [40.6876363, -73.9447649]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_b27b5f1153d942cc8a20b329d92e6cf6);
            
        
            
                var poly_line_f0b4700484c540cd9161f994d424b0d1 = L.polyline(
                    [[40.6876363, -73.9447649], [40.6879625, -73.9419301]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_f0b4700484c540cd9161f994d424b0d1);
            
        
            
                var poly_line_b2338e1f7b7c4fe189ca92e360e8b7bc = L.polyline(
                    [[40.6879625, -73.9419301], [40.6882884, -73.9390977]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_b2338e1f7b7c4fe189ca92e360e8b7bc);
            
        
            
                var poly_line_df5a8722e4cc4e799727bde48a496cf3 = L.polyline(
                    [[40.6882884, -73.9390977], [40.6886245, -73.9361769]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_df5a8722e4cc4e799727bde48a496cf3);
            
        
            
                var poly_line_169428d21ccd4d6d9fd5480ea9d423c0 = L.polyline(
                    [[40.6886245, -73.9361769], [40.6887748, -73.9348708], [40.6889614, -73.9332499]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_169428d21ccd4d6d9fd5480ea9d423c0);
            
        
            
                var poly_line_1115f974105240aaa8ec8601575b9675 = L.polyline(
                    [[40.6889614, -73.9332499], [40.6892729, -73.9303165]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_1115f974105240aaa8ec8601575b9675);
            
        
            
                var poly_line_105c1d010f19406984b0eff8aeeddfca = L.polyline(
                    [[40.6892729, -73.9303165], [40.6885663, -73.9301787]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_105c1d010f19406984b0eff8aeeddfca);
            
        
            
                var poly_line_b80bad5d8545413497f39f4af9be71ed = L.polyline(
                    [[40.6885663, -73.9301787], [40.6878305, -73.9300345]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_b80bad5d8545413497f39f4af9be71ed);
            
        
            
                var poly_line_4aa8164d3f29433ab0f4b166c35fd387 = L.polyline(
                    [[40.6878305, -73.9300345], [40.6871, -73.929888]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_4aa8164d3f29433ab0f4b166c35fd387);
            
        
            
                var poly_line_3e6126d224724b548054cab930dbdaab = L.polyline(
                    [[40.6871, -73.929888], [40.6863652, -73.9297498]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_3e6126d224724b548054cab930dbdaab);
            
        
            
                var poly_line_9c520f9df8de4f77942eb7c49757a481 = L.polyline(
                    [[40.6863652, -73.9297498], [40.6856359, -73.9295926]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_9c520f9df8de4f77942eb7c49757a481);
            
        
            
                var poly_line_b06dc54c362d477796a7d19c151a882b = L.polyline(
                    [[40.6856359, -73.9295926], [40.6851023, -73.9294902]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_b06dc54c362d477796a7d19c151a882b);
            
        
            
                var poly_line_935adcb058f24408a74f08d7e275cf0f = L.polyline(
                    [[40.6851023, -73.9294902], [40.6849005, -73.9294515]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_935adcb058f24408a74f08d7e275cf0f);
            
        
            
                var poly_line_e6f49044271d47e286850b482f164314 = L.polyline(
                    [[40.6849005, -73.9294515], [40.6841687, -73.9293089]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_e6f49044271d47e286850b482f164314);
            
        
            
                var poly_line_d25a09c3f54d4b8e96c329df61769ef9 = L.polyline(
                    [[40.6841687, -73.9293089], [40.6834352, -73.9291606]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_d25a09c3f54d4b8e96c329df61769ef9);
            
        
            
                var poly_line_61c77f74d577432587c0b349c695d7d9 = L.polyline(
                    [[40.6834352, -73.9291606], [40.6827038, -73.9290092]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_61c77f74d577432587c0b349c695d7d9);
            
        
            
                var poly_line_c4a00ae4a0264cea904330603535c98f = L.polyline(
                    [[40.6827038, -73.9290092], [40.6819701, -73.9288668]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_c4a00ae4a0264cea904330603535c98f);
            
        
            
                var poly_line_38b47356b94e48fbbaeed55f71d54872 = L.polyline(
                    [[40.6819701, -73.9288668], [40.681237, -73.928727]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_38b47356b94e48fbbaeed55f71d54872);
            
        
            

            var marker_faeff8f93413409f9643f711ba37870f = L.marker(
                [40.681237,-73.928727],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_805e482954804e6294e9ebbb6e3631bc);
            
        
            

                var icon_2acf067a33744009823113ebb66ed127 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_faeff8f93413409f9643f711ba37870f.setIcon(icon_2acf067a33744009823113ebb66ed127);
            
        
            
            var popup_f8bfe4a5d1ed425a8686f7198a7eb46e = L.popup({maxWidth: '300'});

            
                var html_107b409b3acf4fff87df31ad4f3e5197 = $('         <div id="html_107b409b3acf4fff87df31ad4f3e5197"                 style="width: 100.0%; height: 100.0%;">                 End</div>                 ')[0];
                popup_f8bfe4a5d1ed425a8686f7198a7eb46e.setContent(html_107b409b3acf4fff87df31ad4f3e5197);
            

            marker_faeff8f93413409f9643f711ba37870f.bindPopup(popup_f8bfe4a5d1ed425a8686f7198a7eb46e);

            
        
        
            

            var marker_75a3811fcb1e486681a995f6e8765086 = L.marker(
                [40.6873098,-73.9476018],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_805e482954804e6294e9ebbb6e3631bc);
            
        
            

                var icon_e8fe9f4424cf4c6f880d6e872b5db6fc = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_75a3811fcb1e486681a995f6e8765086.setIcon(icon_e8fe9f4424cf4c6f880d6e872b5db6fc);
            
        
            
            var popup_837d00947cf2426f854652b10c33d4e6 = L.popup({maxWidth: '300'});

            
                var html_b4b28a9d7caa4deeabdfb6588e029d05 = $('         <div id="html_b4b28a9d7caa4deeabdfb6588e029d05"                 style="width: 100.0%; height: 100.0%;">                 Start</div>                 ')[0];
                popup_837d00947cf2426f854652b10c33d4e6.setContent(html_b4b28a9d7caa4deeabdfb6588e029d05);
            

            marker_75a3811fcb1e486681a995f6e8765086.bindPopup(popup_837d00947cf2426f854652b10c33d4e6);

            
        
        
            
                var poly_line_5defb1413fad4822a14c8eeb55ac8d86 = L.polyline(
                    [[40.686578, -73.947456], [40.6873098, -73.9476018]],
                    {
                        color: 'red',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_5defb1413fad4822a14c8eeb55ac8d86);
            
        
            
                var poly_line_7938dc7794374dd68927de05219cc56f = L.polyline(
                    [[40.6858455, -73.9473099], [40.686578, -73.947456]],
                    {
                        color: 'red',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_7938dc7794374dd68927de05219cc56f);
            
        
            
                var poly_line_c59b742486ff4cefb72c215bae659171 = L.polyline(
                    [[40.685113, -73.947165], [40.6858455, -73.9473099]],
                    {
                        color: 'red',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_c59b742486ff4cefb72c215bae659171);
            
        
            
                var poly_line_f1f2bb36912944d198809aaff3f620d7 = L.polyline(
                    [[40.685113, -73.947165], [40.685439, -73.944328]],
                    {
                        color: 'red',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_f1f2bb36912944d198809aaff3f620d7);
            
        
            
                var poly_line_1c2d266e61434db980f5952942af5084 = L.polyline(
                    [[40.685439, -73.944328], [40.6857638, -73.9414955]],
                    {
                        color: 'red',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_1c2d266e61434db980f5952942af5084);
            
        
            
                var poly_line_e6752eb8e6574754a731a694f97a41cf = L.polyline(
                    [[40.6851976, -73.9413834], [40.6857638, -73.9414955]],
                    {
                        color: 'red',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_e6752eb8e6574754a731a694f97a41cf);
            
        
            
                var poly_line_be14978ee8824540b205ec5b6e4b4665 = L.polyline(
                    [[40.6850309, -73.9413506], [40.6851976, -73.9413834]],
                    {
                        color: 'red',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_be14978ee8824540b205ec5b6e4b4665);
            
        
            
                var poly_line_36fb16cd56fe41d89443b426f1520518 = L.polyline(
                    [[40.6853573, -73.9385127], [40.6850309, -73.9413506]],
                    {
                        color: 'red',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_36fb16cd56fe41d89443b426f1520518);
            
        
            
                var poly_line_ed3334d7b68c496a8de1b35d519c609b = L.polyline(
                    [[40.6856931, -73.935593], [40.6853573, -73.9385127]],
                    {
                        color: 'red',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_ed3334d7b68c496a8de1b35d519c609b);
            
        
            
                var poly_line_24f3de8de6414bd796c51ab61e3006c3 = L.polyline(
                    [[40.6849626, -73.9354475], [40.6856931, -73.935593]],
                    {
                        color: 'red',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_24f3de8de6414bd796c51ab61e3006c3);
            
        
            
                var poly_line_dba5d617d5f04b669d727c8c2630f4ff = L.polyline(
                    [[40.6842279, -73.9353012], [40.6849626, -73.9354475]],
                    {
                        color: 'red',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_dba5d617d5f04b669d727c8c2630f4ff);
            
        
            
                var poly_line_22cf7c4e81f8456eb43d07ddc810e3a1 = L.polyline(
                    [[40.6838077, -73.9352175], [40.6842279, -73.9353012]],
                    {
                        color: 'red',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_22cf7c4e81f8456eb43d07ddc810e3a1);
            
        
            
                var poly_line_bad7fc2d2c974e779102fd46491bb7c5 = L.polyline(
                    [[40.6834953, -73.9351552], [40.6838077, -73.9352175]],
                    {
                        color: 'red',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_bad7fc2d2c974e779102fd46491bb7c5);
            
        
            
                var poly_line_b95407cb0b1c4f7aa5bd5300621fdb26 = L.polyline(
                    [[40.682762, -73.9350092], [40.6834953, -73.9351552]],
                    {
                        color: 'red',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_b95407cb0b1c4f7aa5bd5300621fdb26);
            
        
            
                var poly_line_87a9776abbf64570a758e1d1d09a15f3 = L.polyline(
                    [[40.6820289, -73.9348632], [40.682762, -73.9350092]],
                    {
                        color: 'red',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_87a9776abbf64570a758e1d1d09a15f3);
            
        
            
                var poly_line_590579bad28947fa8574f13ef7013d01 = L.polyline(
                    [[40.6812878, -73.9347156], [40.6820289, -73.9348632]],
                    {
                        color: 'red',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_590579bad28947fa8574f13ef7013d01);
            
        
            
                var poly_line_a84a4d65a7a4442abf6cd3dbc6d74dee = L.polyline(
                    [[40.6805649, -73.9345716], [40.6812878, -73.9347156]],
                    {
                        color: 'red',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_a84a4d65a7a4442abf6cd3dbc6d74dee);
            
        
            
                var poly_line_aaa898b6e37047919d767867c9333ae6 = L.polyline(
                    [[40.6809028, -73.9316401], [40.6805649, -73.9345716]],
                    {
                        color: 'red',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_aaa898b6e37047919d767867c9333ae6);
            
        
            
                var poly_line_61321535104f4e808260b1a1edd01d74 = L.polyline(
                    [[40.681237, -73.928727], [40.6809028, -73.9316401]],
                    {
                        color: 'red',
                        
                        
                        });
                map_805e482954804e6294e9ebbb6e3631bc.addLayer(poly_line_61321535104f4e808260b1a1edd01d74);
            
        
            

            var marker_fb83cefa33b545efb0f9cd7522215905 = L.marker(
                [40.681237,-73.928727],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_805e482954804e6294e9ebbb6e3631bc);
            
        
            

                var icon_ce1688cc19a34ac8b736fa2e4509a2d7 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_fb83cefa33b545efb0f9cd7522215905.setIcon(icon_ce1688cc19a34ac8b736fa2e4509a2d7);
            
        
            
            var popup_bb56257482c7429c83d92bde25932fbb = L.popup({maxWidth: '300'});

            
                var html_fbff1ae69be240c4b6505d0c5a9df0c5 = $('         <div id="html_fbff1ae69be240c4b6505d0c5a9df0c5"                 style="width: 100.0%; height: 100.0%;">                 End</div>                 ')[0];
                popup_bb56257482c7429c83d92bde25932fbb.setContent(html_fbff1ae69be240c4b6505d0c5a9df0c5);
            

            marker_fb83cefa33b545efb0f9cd7522215905.bindPopup(popup_bb56257482c7429c83d92bde25932fbb);

            
        
        
        
        </script>
        