
        <!DOCTYPE html>
        <head>
            
        
            <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
        
        
        
            
        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        
        
            
        
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://raw.githubusercontent.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
        
        
        
            
            <style>

            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                }

            #map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>
            
        
            
            <style> #map_ca64cc45982049b69019f35917d1d0e7 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
        
        
        </head>
        <body>
            
        
            
            <div class="folium-map" id="map_ca64cc45982049b69019f35917d1d0e7" ></div>
        
        
        
        </body>
        <script>
            
        
            

            var southWest = L.latLng(-90, -180);
            var northEast = L.latLng(90, 180);
            var bounds = L.latLngBounds(southWest, northEast);

            var map_ca64cc45982049b69019f35917d1d0e7 = L.map('map_ca64cc45982049b69019f35917d1d0e7', {
                                           center:[40.815173,-73.955154],
                                           zoom: 12,
                                           maxBounds: bounds,
                                           layers: [],
                                           crs: L.CRS.EPSG3857
                                         });
            
        
        
            
            var tile_layer_2897833adeba48b6b9e5bc87873235d4 = L.tileLayer(
                'https://api.mapbox.com/styles/v1/mapbox/streets-v9/tiles/256/\{z\}/\{x\}/\{y\}?access_token=pk.eyJ1IjoibmFoc2luIiwiYSI6ImNpdDdwdDV0bzA5dHkyeW13ZTh4enl0c3MifQ.iOW2JTxp_HkABm9wuTuPqA',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    attribution: 'My Data Attribution',
                    detectRetina: false
                    }
                ).addTo(map_ca64cc45982049b69019f35917d1d0e7);

        
        
            

            var marker_2c16e9d809914419b2c6d16f8d1a66de = L.marker(
                [40.8151098,-73.9549865],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_ca64cc45982049b69019f35917d1d0e7);
            
        
            

                var icon_8766768296e04a189172b34572991f94 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2c16e9d809914419b2c6d16f8d1a66de.setIcon(icon_8766768296e04a189172b34572991f94);
            
        
            
            var popup_564d5e31fe7940968783b95253197bee = L.popup({maxWidth: '300'});

            
                var html_c3e59fb9d5e24bb8a391e01cbc0dfc40 = $('         <div id="html_c3e59fb9d5e24bb8a391e01cbc0dfc40"                 style="width: 100.0%; height: 100.0%;">                 Start</div>                 ')[0];
                popup_564d5e31fe7940968783b95253197bee.setContent(html_c3e59fb9d5e24bb8a391e01cbc0dfc40);
            

            marker_2c16e9d809914419b2c6d16f8d1a66de.bindPopup(popup_564d5e31fe7940968783b95253197bee);

            
        
        
            
                var poly_line_32cc0e1a0e7f4520afeb38f1b42966bd = L.polyline(
                    [[40.8151098, -73.9549865], [40.8156734, -73.9545749]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_32cc0e1a0e7f4520afeb38f1b42966bd);
            
        
            
                var poly_line_feb9b2227aba4c54904a08111ba769fe = L.polyline(
                    [[40.8156734, -73.9545749], [40.8157311, -73.9545328]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_feb9b2227aba4c54904a08111ba769fe);
            
        
            
                var poly_line_71cca5302a1b451a8cae1cb4e2f75f1a = L.polyline(
                    [[40.8157311, -73.9545328], [40.8163558, -73.9540766]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_71cca5302a1b451a8cae1cb4e2f75f1a);
            
        
            
                var poly_line_3d541c8169a4485d93ddb311b308ce7f = L.polyline(
                    [[40.8163558, -73.9540766], [40.8175891, -73.9531759]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_3d541c8169a4485d93ddb311b308ce7f);
            
        
            
                var poly_line_39d9895bfe4b43108a8aa353dabeba0f = L.polyline(
                    [[40.817221, -73.952273], [40.8175891, -73.9531759]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_39d9895bfe4b43108a8aa353dabeba0f);
            
        
            
                var poly_line_2dcb092d569e4a69a0ffe2c23a11206c = L.polyline(
                    [[40.817221, -73.952273], [40.81791, -73.951768], [40.818395, -73.95088]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_2dcb092d569e4a69a0ffe2c23a11206c);
            
        
            
                var poly_line_def7dff3a03a4ca695c339e3fd254cce = L.polyline(
                    [[40.818395, -73.95088], [40.8185146, -73.9507394], [40.8186841, -73.9505892], [40.8200909, -73.9495617]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_def7dff3a03a4ca695c339e3fd254cce);
            
        
            
                var poly_line_63462bdf08604b56bc60c4fe8db68ba9 = L.polyline(
                    [[40.8200909, -73.9495617], [40.8202214, -73.9494664]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_63462bdf08604b56bc60c4fe8db68ba9);
            
        
            
                var poly_line_6fa74189298542e39daf6cdd3eedd5be = L.polyline(
                    [[40.8202214, -73.9494664], [40.8202721, -73.9494293]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_6fa74189298542e39daf6cdd3eedd5be);
            
        
            
                var poly_line_a83710eba0904b378fa3d5b20577bc44 = L.polyline(
                    [[40.8202721, -73.9494293], [40.8203393, -73.9493803]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_a83710eba0904b378fa3d5b20577bc44);
            
        
            
                var poly_line_90dd915dd3ee423db25a90a3dacae3c0 = L.polyline(
                    [[40.8203393, -73.9493803], [40.8205502, -73.949226]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_90dd915dd3ee423db25a90a3dacae3c0);
            
        
            
                var poly_line_dee4760cab6b4ad3872c2723a1348b5a = L.polyline(
                    [[40.8205502, -73.949226], [40.8208655, -73.9489953]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_dee4760cab6b4ad3872c2723a1348b5a);
            
        
            
                var poly_line_989a06bfcac64070936c79e7affb7673 = L.polyline(
                    [[40.8208655, -73.9489953], [40.821178, -73.9487669]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_989a06bfcac64070936c79e7affb7673);
            
        
            
                var poly_line_5252533e16b64b20a50203a751f12d69 = L.polyline(
                    [[40.821178, -73.9487669], [40.821487, -73.948541]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_5252533e16b64b20a50203a751f12d69);
            
        
            
                var poly_line_dcde9c5c9b6d420db833ffdb3cf87c09 = L.polyline(
                    [[40.821487, -73.948541], [40.8221053, -73.948085]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_dcde9c5c9b6d420db833ffdb3cf87c09);
            
        
            
                var poly_line_e651b30713cc41f2aeb0c333605bb0e7 = L.polyline(
                    [[40.8217502, -73.9472408], [40.8221053, -73.948085]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_e651b30713cc41f2aeb0c333605bb0e7);
            
        
            
                var poly_line_2e58aec97981462c8be3ec9847bf2ce4 = L.polyline(
                    [[40.8212618, -73.9460796], [40.8217502, -73.9472408]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_2e58aec97981462c8be3ec9847bf2ce4);
            
        
            
                var poly_line_56fe44c09c44406293ef30d382e0b449 = L.polyline(
                    [[40.8208736, -73.9451567], [40.8212618, -73.9460796]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_56fe44c09c44406293ef30d382e0b449);
            
        
            
                var poly_line_fdb181d4032a4d249992f90282f27212 = L.polyline(
                    [[40.8202938, -73.9437782], [40.8208736, -73.9451567]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_fdb181d4032a4d249992f90282f27212);
            
        
            
                var poly_line_8f1cd1c7244e4d2ea24afb3919d3c322 = L.polyline(
                    [[40.8191286, -73.9410058], [40.8202938, -73.9437782]],
                    {
                        color: 'blue',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_8f1cd1c7244e4d2ea24afb3919d3c322);
            
        
            

            var marker_9e7d827b132744138e19717c35e533d3 = L.marker(
                [40.8191286,-73.9410058],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_ca64cc45982049b69019f35917d1d0e7);
            
        
            

                var icon_e0dd4f30e72541d7b971cd775b0ed9ac = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_9e7d827b132744138e19717c35e533d3.setIcon(icon_e0dd4f30e72541d7b971cd775b0ed9ac);
            
        
            
            var popup_77f01f4263f948c09732f4b832e297e4 = L.popup({maxWidth: '300'});

            
                var html_3b34438d441c48d695b749d651daf862 = $('         <div id="html_3b34438d441c48d695b749d651daf862"                 style="width: 100.0%; height: 100.0%;">                 End</div>                 ')[0];
                popup_77f01f4263f948c09732f4b832e297e4.setContent(html_3b34438d441c48d695b749d651daf862);
            

            marker_9e7d827b132744138e19717c35e533d3.bindPopup(popup_77f01f4263f948c09732f4b832e297e4);

            
        
        
            

            var marker_8bf790e7cefe47d5bdc76c628747bf52 = L.marker(
                [40.8151098,-73.9549865],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_ca64cc45982049b69019f35917d1d0e7);
            
        
            

                var icon_929d1d131e7843e5a17898b7123c54ec = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_8bf790e7cefe47d5bdc76c628747bf52.setIcon(icon_929d1d131e7843e5a17898b7123c54ec);
            
        
            
            var popup_eb20665dd3c44752989a5040d0e3548e = L.popup({maxWidth: '300'});

            
                var html_7eba44863f724e2095bc928d59d25fde = $('         <div id="html_7eba44863f724e2095bc928d59d25fde"                 style="width: 100.0%; height: 100.0%;">                 Start</div>                 ')[0];
                popup_eb20665dd3c44752989a5040d0e3548e.setContent(html_7eba44863f724e2095bc928d59d25fde);
            

            marker_8bf790e7cefe47d5bdc76c628747bf52.bindPopup(popup_eb20665dd3c44752989a5040d0e3548e);

            
        
        
            
                var poly_line_ccb2d536fddd466787f83f24020c802c = L.polyline(
                    [[40.8151098, -73.9549865], [40.8156734, -73.9545749]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_ccb2d536fddd466787f83f24020c802c);
            
        
            
                var poly_line_bd33c764d8b14f37b82b35af8e05b4ff = L.polyline(
                    [[40.8156734, -73.9545749], [40.8157311, -73.9545328]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_bd33c764d8b14f37b82b35af8e05b4ff);
            
        
            
                var poly_line_34d1d5a057fd441085bd8755b2b44e93 = L.polyline(
                    [[40.8157311, -73.9545328], [40.81507, -73.952974]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_34d1d5a057fd441085bd8755b2b44e93);
            
        
            
                var poly_line_3baf476867a940f99613943c7910b438 = L.polyline(
                    [[40.81507, -73.952974], [40.814187, -73.95086]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_3baf476867a940f99613943c7910b438);
            
        
            
                var poly_line_b01688d953834e989e65f9ee9cbbf643 = L.polyline(
                    [[40.8145637, -73.9505857], [40.814187, -73.95086]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_b01688d953834e989e65f9ee9cbbf643);
            
        
            
                var poly_line_ac2f0bbc867f4992b66a46b90e9f591b = L.polyline(
                    [[40.8145227, -73.9504823], [40.8145637, -73.9505857]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_ac2f0bbc867f4992b66a46b90e9f591b);
            
        
            
                var poly_line_ef819224b05f4e9bb206e5ad53859ee3 = L.polyline(
                    [[40.8144076, -73.9503052], [40.8144734, -73.950403], [40.8145227, -73.9504823]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_ef819224b05f4e9bb206e5ad53859ee3);
            
        
            
                var poly_line_f31caa431286419faaccdd75eb53cc65 = L.polyline(
                    [[40.8144508, -73.9502672], [40.8144076, -73.9503052]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_f31caa431286419faaccdd75eb53cc65);
            
        
            
                var poly_line_82a6163a6c0445abad0e8f35781d1a4c = L.polyline(
                    [[40.8145154, -73.9498827], [40.8144508, -73.9502672]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_82a6163a6c0445abad0e8f35781d1a4c);
            
        
            
                var poly_line_27a701b1c1494bb5a37720fba5208d85 = L.polyline(
                    [[40.8145385, -73.9496927], [40.8145154, -73.9498827]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_27a701b1c1494bb5a37720fba5208d85);
            
        
            
                var poly_line_7c427ed76ea048afaba1de9af46bb31b = L.polyline(
                    [[40.8155808, -73.9490203], [40.8153387, -73.9491442], [40.8151601, -73.949222], [40.8149961, -73.949386], [40.8149209, -73.9494414], [40.814789, -73.9495326], [40.8145385, -73.9496927]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_7c427ed76ea048afaba1de9af46bb31b);
            
        
            
                var poly_line_5659f03120e04db78c03f6453ac903b8 = L.polyline(
                    [[40.8155808, -73.9490203], [40.8155385, -73.9488754]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_5659f03120e04db78c03f6453ac903b8);
            
        
            
                var poly_line_e056b72737e0450aa3d10c5649381d2f = L.polyline(
                    [[40.8155385, -73.9488754], [40.8155075, -73.9487652]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_e056b72737e0450aa3d10c5649381d2f);
            
        
            
                var poly_line_93a4f4bd9cc544788dfe62aea7579e90 = L.polyline(
                    [[40.8155075, -73.9487652], [40.815647, -73.948697], [40.815692, -73.948677]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_93a4f4bd9cc544788dfe62aea7579e90);
            
        
            
                var poly_line_a21202038fef4543a33b16e8adfbdba9 = L.polyline(
                    [[40.815692, -73.948677], [40.816374, -73.948356]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_a21202038fef4543a33b16e8adfbdba9);
            
        
            
                var poly_line_27be5329a2a746069938e0011b9318d9 = L.polyline(
                    [[40.816374, -73.948356], [40.8166564, -73.9482239]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_27be5329a2a746069938e0011b9318d9);
            
        
            
                var poly_line_618b2e8153d245a390801bf8694d2690 = L.polyline(
                    [[40.8166564, -73.9482239], [40.817116, -73.948009]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_618b2e8153d245a390801bf8694d2690);
            
        
            
                var poly_line_dc4ab4a008ad42339ba22f2b38850361 = L.polyline(
                    [[40.817116, -73.948009], [40.8171532, -73.9479605], [40.8171962, -73.9478558], [40.81722, -73.9478249], [40.81776, -73.947441]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_dc4ab4a008ad42339ba22f2b38850361);
            
        
            
                var poly_line_e8e18b0af4454a6abb7704c471cd32d3 = L.polyline(
                    [[40.81776, -73.947441], [40.81838, -73.94698]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_e8e18b0af4454a6abb7704c471cd32d3);
            
        
            
                var poly_line_96880214fb4945e1bb5a335cf8a91e9f = L.polyline(
                    [[40.81838, -73.94698], [40.819006, -73.946522]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_96880214fb4945e1bb5a335cf8a91e9f);
            
        
            
                var poly_line_1689f437f1e54b06bde31f8c2cf26390 = L.polyline(
                    [[40.819006, -73.946522], [40.819628, -73.946065]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_1689f437f1e54b06bde31f8c2cf26390);
            
        
            
                var poly_line_c9def6fc90114328849e0838030ff03f = L.polyline(
                    [[40.819047, -73.944687], [40.819628, -73.946065]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_c9def6fc90114328849e0838030ff03f);
            
        
            
                var poly_line_fb8f3168752541f09a8cf0051f89e996 = L.polyline(
                    [[40.8178917, -73.9419319], [40.819047, -73.944687]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_fb8f3168752541f09a8cf0051f89e996);
            
        
            
                var poly_line_babb8daef31f4ddcbbf90b68c2f1448d = L.polyline(
                    [[40.8185035, -73.9414661], [40.8178917, -73.9419319]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_babb8daef31f4ddcbbf90b68c2f1448d);
            
        
            
                var poly_line_4d09e2f101a04e12aece6282aa331f02 = L.polyline(
                    [[40.8191286, -73.9410058], [40.8185035, -73.9414661]],
                    {
                        color: 'red',
                        
                        
                        });
                map_ca64cc45982049b69019f35917d1d0e7.addLayer(poly_line_4d09e2f101a04e12aece6282aa331f02);
            
        
            

            var marker_9da9e9b407eb43f7811feaea14cb9023 = L.marker(
                [40.8191286,-73.9410058],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_ca64cc45982049b69019f35917d1d0e7);
            
        
            

                var icon_54b58d3f90924fa096ffba22cbd3badf = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_9da9e9b407eb43f7811feaea14cb9023.setIcon(icon_54b58d3f90924fa096ffba22cbd3badf);
            
        
            
            var popup_ce7941268ccc4829900becb7fd63d302 = L.popup({maxWidth: '300'});

            
                var html_6aaeda55c97a4e8aa48874857b800b54 = $('         <div id="html_6aaeda55c97a4e8aa48874857b800b54"                 style="width: 100.0%; height: 100.0%;">                 End</div>                 ')[0];
                popup_ce7941268ccc4829900becb7fd63d302.setContent(html_6aaeda55c97a4e8aa48874857b800b54);
            

            marker_9da9e9b407eb43f7811feaea14cb9023.bindPopup(popup_ce7941268ccc4829900becb7fd63d302);

            
        
        
        
        </script>
        